@charset "utf-8";
/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
body, html {
    height: 100%;
    background: #ffffff
}

body, ul {
    margin: 0;
    padding: 0
}

body {
    font: 14px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

/* 以上实际使用若已初始化可删除 */

/* nav */
.nav {
    width: 12%;
    min-height: 100%;
    height: auto;
    /*background: #367448;*/
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
}

.nav a {
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 40px;
    max-height: 40px;
    /*color: #ffffff;*/
    transition: all .3s;
}

.nav-item li span {
    margin-left: 30px;
}

.nav-item {
    position: relative;
}

.nav-item.nav-show {
    border-bottom: none;
}

.nav-item ul {
    display: none;
    /*background: rgba(0, 0, 0, .1);*/
}

.nav-item.nav-show ul {
    display: block;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 99%;
    height: 40px;
    opacity: 0;
    transition: all .3s;
    box-shadow: 1px 1px 5px 0px #a7a7a7;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after {
    content: "\e62b";
}

.icon_2::after {
    content: "\e669";
}

.icon_3::after {
    content: "\e61d";
}

/*---------------------*/
.nav-more {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 12px;
    transition: transform .3s;
}

/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-more::after {
    content: "\e621";
}

/*---------------------*/
.nav-show .nav-more {
    transform: rotate(90deg);
}

.nav-show, .nav-item > a:hover {
    /*color: #FFF;*/
    /*background: rgba(0, 0, 0, .1);*/
}

.nav-show > a:before, .nav-item > a:hover:before {
    opacity: 1;
}

.nav-item li:hover a {
    /*color: #FFF;*/
    background: rgba(0, 0, 0, .1);
}

/* nav-mini */
.nav-mini.nav {
    width: 4%;
}

.nav-mini.nav .nav-icon { /* margin-left:-2px; */
}

.nav-mini.nav .nav-item > a span {
    display: none;
}

.nav-mini.nav .nav-more {
    margin-right: -20px;
}

.nav-mini.nav .nav-item ul {
    position: absolute;
    top: 0px;
    left: 60px;
    width: 160px;
    z-index: 99;
    /*background: #367448;*/
    overflow: hidden;
}

.nav-mini.nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.nav-mini.nav .nav-item:hover .nav-item a {
    color: #FFF;
}

.nav-mini.nav .nav-item:hover a:before {
    opacity: 1;
}

.nav-mini.nav .nav-item:hover ul {
    display: block;
}

.right_page {
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 0.3s; /* Safari and Chrome */
    -o-transition: width 2s; /* Opera */
    height: 99%;
    width: 96%;
    float: right;
    background-color: #fff;
}

/*现在位置*/
.now_location {
    height: 6%;
    width: 98%;
    padding: 5px 0 5px 20px;
    border-bottom: 1px #d5d6d7 solid;
}

.now_location_icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    vertical-align: top;
}

.now_location_icon img {
    width: 25px;
    height: 25px;
    margin: 4px 0 0 10px;
}

.now_location_content {
    display: inline-block;
    line-height: 34px;
    width: auto;
    height: 35px;
    font-size: 14px;
}

.nav-item ul li a {
    font-size: 10px;:;
}

/*overflow滚动条样式*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #E5E8EC;
    background-clip: padding-box;
    border: 1px solid #E6E5E6;
    min-height: 28px;
    border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.parent-menu-span {
    margin-left: 10px;
    font-size: 12px;
}

/*选择弹窗*/
#windowBackgroundColor {
    width: 100%;
    height: 100%;
    z-index: 8888;
    background-color: #000000;
    position: absolute;
    opacity: 0.5;
    display: none;
}

.selection {
    background: url("../../static/images/icon/select1.png") no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    float: right;
    background-size: 15px 15px;
    margin-top: 3px;
}

.selected {
    pointer-events: none;
}

.option-window {
    width: 650px;
    background: #ffffff;
    display: none;
    position: absolute;
    top: 20px;
    left: 30%;
    z-index: 9999;
    border-radius: 10px;
    padding: 0 30px;
}

.single-option-window {
    width: 400px;
    background: #ffffff;
    display: none;
    position: absolute;
    top: 20px;
    left: 35%;
    z-index: 9999;
    border-radius: 10px;
    padding: 0 30px;
}

.option-window-head {
    background: #eceff4;
    width: 100%;
    padding: 15px 0;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.option-window-body {
    padding-top: 60px
}

.option-window-body-head {
    overflow: hidden;
    width: 100%
}

.option-window-body-bottom {
    text-align: center;
    padding: 20px;
    top: 0;
    left: 0;
}

.selection-box {
    width: 48%;
    float: left;
    padding-right: 10px;
}

.selection-box-title {
    font-size: 14px;
    padding: 10px 0;
}

.selection-content-outer {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 4px;
    background: #f4f6f8;
    height: 362px;
    padding: 0;
    margin: 0;
}

.selected-box {
    width: 48%;
    float: left;
    padding-left: 10px;
}

.selected-box-title {
    font-size: 14px;
    padding: 10px 0;
}

.selected-box-content {
    border: 1px solid #dedede;
    border-radius: 4px;
    background: #f4f6f8;
    height: 360px;
    padding: 0 10px;
}

.selected-box-content ul {
    padding: 10px 0;
}

.selected-box-content ul li:hover {
    background: #e6e6e6;
}

.body-bottom-button {
    border-radius: 5px;
    padding: 7px 20px;
    background: #92ebff;
    border: 1px #a5a5a5 solid;
    outline: none
}

.left-spacing {
    margin-left: 50px;
}

.selection-content-inside {
    padding: 0 10px;
    height: 100%;
    overflow: auto;
}

.selection-content-inside>ul {
    padding: 10px 0;
}

.selection-box-li ul span:hover {
    border-bottom: 1.5px solid #000;
}

.cursor_hand{
    cursor: pointer;
}

.selection-box-li>span:hover {
    color: #2196F3;
}

.selection-box-li {
    margin: 5px 20px;
}

.selection-box-li img {
    vertical-align: middle;
}

.selection-box-li span {
    margin-left: 5px
}

.single-election-box-li:hover {
    background: #e6e6e6;
}

.single-election-box-li {
    padding: 5px 20px;
}

.single-election-box-li img {
    vertical-align: middle;
}

.single-election-box-li span {
    margin-left: 5px
}

.submenu-ul {
    display: none;
    padding: 0;
    font-size: 13px;
}

.submenu-ul li {
    margin: 5px 0 5px 20px;
}


/*弹窗*/

* {
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.win_form_table {
    border: solid 1px #d4d4d4;
    width: 100%;
    margin: 0 auto;
}

.win_form_table td {
    line-height: 45px;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
}

.win_form_table td i {
    color: red;
    font-style: normal;
    margin-right: 3px;
}

.win_table_field {
    background: #f6f6f6;
    width: 120px;
    text-align: right;
    padding-right: 20px;
    white-space: nowrap;
}

.win_table_input_field {
    padding: 0 10px;
}

.win_form{
    margin-top: 55px;
    padding: 15px;
}

.win_form_input {
    width: 100%;
    color: #000;
    height: 30px;
    border: solid 1px #c6c6c6;
    line-height: 26px;
    text-indent: 8px;
    outline: none;
}

.win_form_select {
    width: 100%;
    position: relative;
    min-width: 134px;
    height: 30px;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    text-indent: 8px;
    outline: none;
}

.win_form_btn {
    padding-top: 25px;
    text-align: center;
}

.win_btn_save {
    padding: 7px 20px;
    background: #92ebff;
    border: 1px #a5a5a5 solid;
}