@charset "utf-8";

body{
    background-color: #fff;

}


.div_munu{
    width: 10%;
    margin: 50px;
    position: fixed;
}
.munu{
    background: #fff;
    width: 100%;
    position: static;
    top: auto;
    bottom: 0;
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
}

.munu li {
    padding: 13px 0px 21px 105px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #fff6f6;
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    padding: 37px 17px 28px 15px;
}
.munu a { color: rgb(32, 14, 14); text-decoration: none; }
.munu b {
	font: bold Montserrat; display: block;
	
}

/*from表单*/
.div_from{
    position: absolute;
    width: 65%;
    left: 40%;
}
.div_from2{
    position: absolute;
    width: 65%;
    left: 40%;  
    top: 60%;
}
.div_from_month{
    position: absolute;
    width: 65%;
    left: 45%;
    top: 10%;
}
.div_from_month2{
    position: absolute;
    width: 65%;
    left: 45%;  
    top: 60%;
}
.title_from{
    position: absolute;
    top: 5%;
    left: 5%;
}
.title_from span{
    margin-bottom: .5em;
    font-size: 14px;
    font-weight:bold;
}
.input_div{
    position: relative;
    width: 100%;
    height: 100%;
    left: 7%;
    top: 15%;
}
.input_div form{
    position: relative;
    width: 100%;
    height: 100%;
    left: 20px;
}

.parcel_div{
    width: 45%;
    height: 52px;
    float: left;
}
.parcel_div span{
    float: left;
    font-family:宋体;
     font-weight: bold;
    padding-right: 5%;
    color: #737070;
    font-family: Verdana,Arial;
    font-size: 11pt;
    padding-top: 4%;

}
.parcel_div input{
    float: left;
    border-bottom: 1px solid #ccbbbbd4;
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    height: 33px;
    outline: 0;
    padding-top: 5px;
    font-family:Verdana,Arial; 
    font-size: 10pt;
    -webkit-text-fill-color: cornflowerblue;
    text-align: center;
    BACKGROUND-COLOR: transparent;
}

.btn_div{
    width: 100%;
    height: auto;
    float: left;
}

.btn_div input[type = 'button']{

    float: left;
    margin: 14% 14%;
    padding: 10px 10px;
    color: #75867d;
    /*background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #c0f1e3), color-stop(1, rgb(160, 234, 188)) );*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    box-shadow: -2px 0px 8px 2px #f1f1f1;
    cursor: pointer;
}



/*table*/

  .t1
        {
            clear: both;
            border: 1px solid #c9dae4;
        }
.t1 tr th
    {
        color: #0d487b;
        background: #f2f4f8 url(../CSS/Table/images/sj_title_pp.jpg) repeat-x left bottom;
        line-height: 28px;
        border-bottom: 1px solid #9cb6cf;
        border-top: 1px solid #e9edf3;
        font-weight: normal;
        text-shadow: #e6ecf3 1px 1px 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
.t1 tr td
{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #444;
    border-top: 1px solid #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-all;
}
/* white-space:nowrap; text-overflow:ellipsis; */
tr.alt td
{
    background: #ecf6fc; /*这行将给所有的tr加上背景色*/
}
tr.over td
{
    background: #bcd4ec; /*这个将是鼠标高亮行的背景色*/
}


/*from表单*/
.history_div_from{
    position: absolute;
    width: 50%;
    height: 96%;
    left: 52%;
}
.history_div_echar{
    width: 40%;
    height: 100%;
}

.select {
    display: inline-block;
    width: 80%;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 4px;	
    transition: box-shadow 0.25s ease;
    z-index: 2;
    left: 16px;
    margin-bottom: 10%;
}

.select:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select:focus {
    outline: none;

}