body, html {
    height: 100%;
    background: #ffffff
}

body, ul {
    margin: 0;
    padding: 0
}

body {
    font: 14px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*导航*/
.nav {
    width: 5%;
    min-height: 100%;
    height: auto;
    background: #f5f9ff;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-item {
    margin-top: 10px;
    text-align: center;
}

.nav-item-style {
    background-color: #ffffff;
    transition: all .3s;
    box-shadow: 1px 1px 5px 0 #a7a7a7;
}

.nav-ul li:hover {
    background-color: #ffffff;
    transition: all .3s;
}

.nav-item span {
    font-size: 13px;
    display: block;
}

.nav a {
    display: block;
    overflow: hidden;
    line-height: 30px;
    transition: all .3s;
}

.nav-item {
    position: relative;
}

.nav-item.nav-show {
    border-bottom: none;
}

.nav-item ul {
    display: none;
    /*background: rgba(0, 0, 0, .1);*/
}

.nav-item.nav-show ul {
    display: block;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 99%;
    height: 40px;
    opacity: 0;
    transition: all .3s;
    box-shadow: 1px 1px 5px 0px #a7a7a7;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after {
    content: "\e62b";
}

.icon_2::after {
    content: "\e669";
}

.icon_3::after {
    content: "\e61d";
}

/*---------------------*/
.nav-more {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 12px;
    transition: transform .3s;
}

/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-more::after {
    content: "\e621";
}

/*---------------------*/
.nav-show .nav-more {
    transform: rotate(90deg);
}

.nav-show, .nav-item > a:hover {
    /*color: #FFF;*/
    /*background: rgba(0, 0, 0, .1);*/
}

.nav-show > a:before, .nav-item > a:hover:before {
    opacity: 1;
}

.nav-item li:hover a {
    /*color: #FFF;*/
    background: rgba(0, 0, 0, .1);
}

/* nav-mini */
.nav-mini.nav {
    width: 4%;
}

.nav-mini.nav .nav-icon { /* margin-left:-2px; */
}

.nav-mini.nav .nav-item > a span {
    display: none;
}

.nav-mini.nav .nav-more {
    margin-right: -20px;
}

.nav-mini.nav .nav-item ul {
    position: absolute;
    top: 0;
    left: 60px;
    width: 160px;
    z-index: 99;
    background: #f5f9ff;
    overflow: hidden;
    transition: all .3s;
    box-shadow: 1px 1px 5px 0px #e2e2e2;
}

.nav-mini.nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.nav-mini.nav .nav-item:hover .nav-item a {
    color: #FFF;
}

.nav-mini.nav .nav-item:hover a:before {
    opacity: 1;
}

.nav-mini.nav .nav-item:hover ul {
    display: block;
}

/*frame*/
.frame-page {
    width: 96%;
    float: right
}

.personnel {
    width: 100%;
    height: 100%;
}

/*页面-table*/
.cursor_hand {
    cursor: pointer;
}

.simple-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}

.simple-table thead tr th {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    white-space: nowrap;
    width: calc(100% / 12);
    text-align: center;
}

.simple-table-file thead tr th {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    white-space: nowrap;
    width: calc(100% / 10);
}

.simple-table-dynamic thead tr th {
    width: calc(100% / 7);
}

.simple-table-retire thead tr th {
    width: calc(100% / 8);
}

.simple-table-job-change thead tr th {
    width: calc(100% / 11);
}

.simple-table-contract thead tr th {
    width: calc(100% / 8);
}

.simple-table-welfare thead tr th {
    width: calc(100% / 9);
}

.simple-table tbody tr td {
    line-height: 25px;
    border: none;
    white-space: nowrap;
    text-align: center;
}

.simple-table tbody tr:hover {
    background: #edf0f3;
}

.overview-margin {
    width: 97%;
    margin: 0 auto;
    padding-top: 20px;
}

.overview-border {
    display: table;
    border: 1.5px solid #4bbff3;
    border-radius: 5px;
}

.overview-field1 {
    text-align: center;
    float: left;
    width: 150px;
    height: 60px;
    line-height: 70px;
    color: #00aefd;
}

.overview-field1 span {
    font-size: 14px;
}

.overview-field1 span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
}

.partition-line1 {
    border: .5px solid #c1c1c1;
    height: 40px;
    margin-top: 10px;
    float: left
}

.overview-field2 {
    float: left;
    width: 100px;
    font-size: 13px;
    text-align: center;
}

.overview-field2-name {
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
    width: 100%;
    line-height: 35px;
    height: 30px;
}

.overview-field2-num {
    float: left;
    width: 100%;
    height: 30px;
}

.partition-line2 {
    border: .5px solid #c1c1c1;
    height: 30px;
    margin-top: 15px;
    float: left
}

.border-w {
    border: .3px solid #c1c1c1;
}

.table-margin {
    /*background-color: #f5f9ff;*/
    width: 97%;
    border-radius: 5px;
    padding: 10px;
    min-height: 455px;
}

.paging-div {
    right: 25px;
    height: 35px;
    position: absolute;
    bottom: 20px;
}

.username > span {
    cursor: pointer;
}

.username > span:hover {
    color: #0C6CED;
}

.dynamic-category {
    border-bottom: solid #0bc5de 2px;
}

.width-overstep {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.more-data {
    font-size: 13px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
}

.more-data:hover {
    color: #ffbc00;
}

.add-personnel {
    padding: 5px 15px;
    border: 0;
    cursor: pointer;
    background: #38adff;
    outline: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
}

.add-personnel:hover {
    background-color: #0284df;
}

.basic-info-operation {
    background-color: #38adff;
    padding: 2px 10px;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    font-size: 13px;
    border: 1px solid #fff;
}

.basic-info-operation:hover {
    background-color: #0284df;
}

/*index-page*/
.index-margin-style {
    padding: 30px 15px 15px;
}

.index-page-title-style {
    display: flex
}

.index-page-top-left {
    background-color: #ffffff;
    margin-right: 1%;
    width: 49%;
    box-shadow: 2px 2px 2px rgb(220, 220, 220), -1px 0 2px rgb(220, 220, 220);
    padding: 20px 10px;
}

.index-page-top-right {
    background-color: #ffffff;
    margin-left: 1%;
    width: 49%;
    box-shadow: 2px 2px 2px rgb(220, 220, 220), -1px 0 2px rgb(220, 220, 220);
    padding: 20px 10px;
}

.basic-column-all {
    border-right: 1px solid #c1c1c1;
    width: 33%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.basic-column-all span {
    font-size: 16px;
}

.basic-column-all span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    color: #2196F3;
}

.basic-column-formal {
    border-right: 1px solid #c1c1c1;
    width: 33%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.basic-column-formal span {
    font-size: 16px;
}

.basic-column-formal span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    color: #2196F3;
}

.basic-column-outsource {
    width: 33%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.basic-column-outsource span {
    font-size: 16px;
}

.basic-column-outsource span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    color: #2196F3;
}

.basic-right-1 {
    border-right: 1px solid #c1c1c1;
    width: 33%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.basic-right-1 span {
    font-size: 16px;
}

.basic-right-1 span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    color: #ffbc00;
}

.basic-right-2 {
    border-right: 1px solid #c1c1c1;
    width: 33%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.basic-right-2 span {
    font-size: 16px;
}

.basic-right-2 span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    color: #ffbc00;
}

.basic-right-3 {
    width: 33%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.basic-right-3 span {
    font-size: 16px;
}

.basic-right-3 span h2 {
    border: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    color: #ffbc00;
}

.chart-margin-style {
    margin-top: 25px;
    width: 100%;
    display: inline-block;
}

.chart-top-margin {
    margin: -7.5px;
}

.chart-inner-margin-3 {
    padding: 7.5px;
    width: 33%;
    float: left;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.chart-inner-margin-4 {
    padding: 7.5px;
    width: 25%;
    float: left;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.chart-content {
    border-radius: 2px;
    background-color: #efefef;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.chart-content-title {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}

.chart-content-entity {
    height: 250px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    line-height: 24px;
}

.chart-content-entity-size {
    width: 100%;
    height: 100%
}

/*人员管理*/
.personnel-manage-style{
    padding: 20px;
}

.top-statistics{
    width: 97%;margin: 0 auto;display: table;
}

.top-statistics-style{
    text-align: center;float: left;width: 130px;height: 60px;line-height: 70px;
}

.top-statistics-style span h2{
    border: 0;padding: 0;display: inline-block;margin: 0 5px;color: #ffbc00;
}

.personnel-manage-content{
    padding: 10px 25px;
}