body .layer-ext-yourskin .layui-layer-title{
    background: #081325;
    color: #fffbfb;
    border: none;
    padding: 0 80px 0 20px;
    height: 35px;
    line-height: 40px;
    font-size: 14px;
}
