<!DOCTYPE html>
<head>
    <title>赤峰市政设施管理数据中心</title>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate"><!-- 禁止Chrome 浏览器中自动提示翻译 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--IE=edge：保持使用最高级别模式显示内容-->
    <meta name="renderer" content="webkit"><!--360浏览器-->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index1.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/logo.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<!--首页头部 sta -->
<!--<div id="model-top" class="model-top"></div>-->
<div class="jimu-main-header" id="Header-Panel" style="left: 10px; top: 10px; width: 313px; height: 36px; right: auto; bottom: auto;"><div class="jimu-head">
    <div class="jimu-head-content" id="jimu-head-content" style="line-height: 33px;">
        <div class="jimu-head-leftTopBg" id="leftTopBg"></div>
        <!--<div class="jimu-head-logo"><img id="logoNode" src="../img/logo-left.png"></div>-->
        <div class="jimu-head-title jimu-head-title-light" id="titleNode">赤峰市政设施管理数据中心</div>
        
        <i class="jimu-head-masked"></i>
        <div class="jimu-head-rightBottomBg" id="rightBottomBg"></div>
    </div>
</div></div>
<div id="ToolBar-Panel" >
	<div class="jimu-toolbar" id="jimu-toolbar-content">
    <div class="jimu-toolbar-left"></div>
    <div class="jimu-list jimu-toolbar-middle" id="jimu-list">
    	<ul id="jimu-list-ul" class="jimu-list-ul">
    		<li class="jimu-list-ul-li-select">首页</li>
    		<li>桥梁视频</li>
    		<li>泵站视频</li>
    		<li>桥梁视频</li>
    	
    	</ul>
    </div>
    <div class="jimu-toolbar-right"></div>
</div></div>

<div id="Clock-Panel" class="jimu-main-absolute" style="width: 210px; height: 36px; left: auto; right: 170px; top: 10px; bottom: auto;"><div class="jimu-clock">
    <div class="jimu-clock-content" id="jimu-clock-content">
        <div class="jimu-clock-hours" style="line-height: 36px;"></div>
        <ul>
            <li><div id="head-time" class="jimu-clock-day"></div></li>
            <li><div id="head-date" class="jimu-clock-week"></div></li>
        </ul>
    </div>
</div></div>
<div id="afoot-Panel" class="jimu-main-absolute" style="width: 380px; height: 30px; left: 39%; right: auto; top: auto; bottom: 0.1px;"><div class="jimu-foot-content" id="jimu-foot-content">
    <div class="jimu-foot-bg"><div class="jimu-foot-name" title="停车场管理系统"></div></div>
</div></div>
<!--4个角-->
<div class="i-common-top i-top-left"></div>
<div class="i-common-top i-top-right"></div>
<div class="i-common-bottom i-left-bottom"></div>
<div class="i-common-bottom i-right-bottom"></div>
<!--首页头部 end -->
<div class="content-box">
	<div class="row" style="height: 100%;width:100%;">
		<div class="main-box">
			<div class="col-md-2 col-lg-2"style="height: 100%;" >
			<div class="sub-nav-left">
				<ul class="sub-li">
					<li class="ahover"><a href="#">道路台账</a></li>
					<li><a href="#">道路汇总</a></li>
					<li><a href="#">道路等级</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-10 col-lg-10" style="height: 100%;">
			<div class="sub-con-right">
				<div class="main-con-title">
					<span class="main-tit-name">病害修改</span>
				</div>
				<div class="alter-table">
					<table class="table table-bordered">
					    <tbody>
					    	<tr>
								<td class="bgclor"><em class="impor">*</em>道路名称 ：</td>
								<td>
									<select>
									  <option>安定门西大街（内环辅路）</option>
									  <option>安定门东大街（内环辅路）</option>
									  <option>安定门西大街</option>
								    </select>
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="bgclor"><em class="impor">*</em>道路形式 ：</td>
								<td>
									<select>
									  <option>机动车道</option>
									  <option>非机动车道</option>
									 </select>
								</td>
								<td class="bgclor">经度：</td>
								<td>
									<input type="text" value="116.349413" />
								</td>
							</tr>
							<tr>
								<td class="bgclor"><em class="impor">*</em>路段位置 ：</td>
								<td>
									<select>
									  <option>由东向西</option>
									  <option>由西向东</option>
								    </select>
								</td>
								<td class="bgclor">纬度：</td>
								<td>
									<input type="text" value="39.958622" />
								</td>
							</tr>
							<tr>
								<td class="bgclor"><em class="impor">*</em>病害位置 ：</td>
								<td>
									<input type="text" value="上行" />
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="bgclor"><em class="impor">*</em>病害类型 ：</td>
								<td>
									<select>
									  <option>道路路面病害--破损</option>
									  <option>桥梁路面病害--破损</option>
								    </select>
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="bgclor"><em class="impor">*</em>病害量化 ：</td>
								<td>
									
									 长：<input type="text" value="1" />
									 宽：<input type="text" value="1" />
									 高：<input type="text" value="1" />
									 单位：平方米
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="bgclor">处理意见：</td>
								<td>
									<input type="text" value="请尽快处理" />
								</td>
								<td class="bgclor">信息来源 ：</td>
								<td>
									<select>
									  <option>巡查采集</option>
									  <option>巡查管理</option>
								    </select>
								</td>
							</tr>
							<tr>
								<td class="bgclor">备注 ：</td>
								<td>
								    <input type="text" value="" />	
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="bgclor"><em class="impor">*</em>近景照片 ：</td>
								<td>
								   <span class="file-img"><input type="file" ><button type="submit" class="sc-btn" >上传</button></span> 
								</td>
								<td class="bgclor"><em class="impor">*</em>远景照片 ：</td>
								<td>
								   <span class="file-img"><input type="file" ><button type="submit" class="sc-btn" >上传</button></span> 
								</td>
							</tr>
							<tr>
								<td>预览</td>
								<td>
								  
								</td>
								<td>预览</td>
								<td>
								  
								</td>
							</tr>
							
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	
		</div>
		
	</div>


</div>
<div class="clearfix"></div>
<!--首页底部 sta -->
<!--<div id="model-foot" class="model-foot">-->

</div>

<!--首页底部 end-->
<script src="../js/lib/jquery.min.js"></script>
<script src="../js/lib/sockjs-client/1.0.2/sockjs.js"></script>
<script src="../js/lib/stomp-websocket/2.3.3/stomp.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/lib/echarts.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/highcharts-3d.js"></script>
<script src="../js/highcharts-zh_CN.js"></script>
<script src="../js/lib/chifeng.js"></script>
<script src="../js/common/header-footer3.js"></script>
<script src="../js/common/common.js"></script>
<script src="../js/common/unit.js"></script>
<script src="../js/pagejs/indexSSGL.js?c=2.9"></script>
<script src="../js/dark.js"></script>
<script src="../js/expo.js"></script>
</body>
</html>
