<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.jiaoke.*"/>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--默认的登陆访问url-->
        <property name="loginUrl" value="/"/>
        <property name="successUrl" value="/oaIndex.do"/>
        <!--没有权限跳转url-->
        <property name="unauthorizedUrl" value="/index.do"/>
        <property name="filters">
            <map>
                <entry key="logout" value-ref="systemLogoutFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                <!--
                    anon   不需要认证
                    authc  需要认证
                    perms  匹配权限
                -->
                /favicon.ico = anon
                /static/** = anon
                <!--质量数据写入-->
                /qualityData.do = anon
                /getCarNum.do = anon
                <!--ERP数据写入-->
                /getWeighingInformation.do = anon
                <!--登录-->
                /login/login.do = anon
                /login/*.do = authc
                <!--登出-->
                /logout=logout
                /** = authc
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 认证管理器 -->
        <property name="realm" ref="shiroSecurityRealm"/>
        <!-- 缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>
        <!-- session管理器 -->
        <property name="sessionManager" ref="sessionManager"/>

        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('5aaC5qKm5oqA5pyvAAAAAA==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!-- cookie的名字 -->
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <!-- 7天,-->
        <property name="maxAge" value="604800"/>
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="ehCacheManager"/>
    </bean>

    <!-- spring基于Ehcache实现的缓存管理器 -->
    <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/conf/ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!-- 自定义Realm -->
    <bean id="shiroSecurityRealm" class="com.jiaoke.controller.oa.ShiroSecurityRealm">
        <property name="cachingEnabled" value="true"/>
        <!--false：每次登陆验证都需要查询数据库-->
        <property name="authenticationCachingEnabled" value="false"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!-- session管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="-1"/>
        <property name="deleteInvalidSessions" value="true"/>
        <!--去除url中sessionId-->
        <property name="sessionIdUrlRewritingEnabled" value="false"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!--sessionCookie 设置-->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sessionIdCookie"/>
        <property name="httpOnly" value="true"/>
        <!--定义Cookie的过期时间，单位为秒，如果设置为-1表示浏览器关闭，则Cookie消失-->
        <property name="maxAge" value="-1"/>
    </bean>

    <!-- 会话验证调度器 -->
    <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
        <property name="sessionValidationInterval" value="1200000"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!--会话DAO 用于会话的CRUD-->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>

    <!--sessionId生成-->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>


</beans>