
.menu-bar li:last-of-type span{
    background: url("../img/line.png") 0 40px no-repeat;
    background-size: 100% 15px;
}
/*******************************************************地图*/
#allmap {
    height: 100%;

    width: 100%;
}
/*去掉百度地图logo*/
.anchorBL{
    display:none;
}
/*地图放大缩小*/
.BMap_stdMpZoom .BMap_button {
    width: 22px;
    height: 21px;
    overflow: hidden;
    background-image: url("../img/mapctrls2d0.png") !important;
    background-repeat: no-repeat;
    z-index: 10;
}
/*地图标注点样式*/

/*******************************************************弹窗样式*/
.BMapLabel{
    display: none;
}
/*1级诱导 sta*/
.guidance1-pop{
    height: 288px;
    width: 300px;
    z-index: 1000;
    position: relative;
}
.guidance1-pop .pop-content1{
    width: 300px;
    height: 234px;
    background: url("../img/guidance1_bgicon.png") no-repeat;
    background-size: 100% 100%;
    /*background: rgba(30,43,103,.5);*/
    /*border: 1px solid #07337b;*/
}
.num-full,.num-few,.num-free{
    position: absolute;
    width: 50px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
}
@media  screen and (-webkit-min-device-pixel-ratio:0) {
    .num-full{
        background: -webkit-gradient(linear,left top,left bottom,from(#ee04e0),to(#f56447));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media  screen and (-webkit-min-device-pixel-ratio:0) {
     .num-few{
        background: -webkit-gradient(linear,left top,left bottom,from(#f88b0a),to(#f4bf11));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media  screen and (-webkit-min-device-pixel-ratio:0) {
    .num-free{
        background: -webkit-gradient(linear,left top,left bottom,from(#00c68e),to(#a7d3db));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.guidance1-pop .height24{
    height: 24px;
    width: 1px;
    background: #07337b;
    margin-left: 149.5px;
}
.guidance1-pop .pop-close{
    width: 30px;
    height: 30px;
    background: url("../img/close-icon.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 135px;
}
/*1级诱导 end*/
/*2级诱导 sta*/
.guidance2-pop{
    width: 230px;
    height: auto;
    border-radius: 4px 4px 0 0;
    z-index: 1000;
}
.guidance2-pop .pop-content{
    width: 230px;
    height: auto;
    border: 1px solid #07337b;
    border-radius: 4px 4px 0 0;
}
.guidance2-pop .pop-content .pop-topcontent{
    height: 116px;
    width: 228px;
    background: #1e2b67;
    border-radius: 4px 4px 0 0;
    padding: 7px;
    opacity: 0.9;
}
.guidance2-pop .topcontent-main{
    height: 100px;
    width: 214px;
    background: #233585;
    padding: 0 16px;
    opacity: 1;
}
.guidance2-pop .topcontent-main .zte-logo{
     float: left;
     width: 109px;
     height: 41px;
     background: url("../img/logo.png") no-repeat;
     background-size: 100% 100%;
     margin-top: 30px;
     margin-right: 8px;
 }
.guidance2-pop .topcontent-main .park-picon{
    float: left;
    width: 64px;
    height: 64px;
    background: url("../img/p-icon.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 18px;
}
.guidance2-pop .pop-bottomcontent{
    height: auto;
    width: 228px;
    padding: 17px;
    background: #1e2b67;
}
.guidance2-pop .pop-bottomcontent .bottom-style{
    width: 195px;
    height: 32px;
    margin-bottom: 8px;
}
.guidance2-pop .bottom-style .bot-tit{
    float: left;
    width: 92px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-indent: 10px;
    font-size: 14px;
    background: -webkit-linear-gradient(#233585, #20a2f2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#233585, #20a2f2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#233585, #20a2f2); /* Firefox 3.6 - 15 */
    background: linear-gradient(#233585, #20a2f2); /* 标准的语法 */
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.guidance2-pop .bottom-style .bot-right{
    float: left;
    height:32px;
    width: 103px;
    background: #202020;
}
.guidance2-pop .bot-right .run-icon{
    width: 32px;
    height:32px;
    float: left;
    background: url("../img/run.png") center no-repeat;
    background-size: 10px 16px;
}
.guidance2-pop .bot-right .left-icon{
    width: 32px;
    height:32px;
    float: left;
    background: url("../img/turn-left.png") center no-repeat;
    background-size: 17px 16px;
}
.guidance2-pop .bot-right .right-icon{
    width: 32px;
    height:32px;
    float: left;
    background: url("../img/turn-right.png") center no-repeat;
    background-size: 17px 16px;
}
.guidance2-pop .bot-right .around-icon{
    width: 32px;
    height:32px;
    float: left;
    background: url("../img/turn-around.png") center no-repeat;
    background-size: 16px 17px;
}
.guidance2-pop .bot-right .height20{
    width:1px;
    height: 20px;
    float: left;
    margin-top: 6px;
    background: #4a4a4a;
}
.guidance2-pop .bot-right .bot-num{
    margin-left: 33px;
    height: 32px;
    line-height: 32px;
    width: 70px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@media  screen and (-webkit-min-device-pixel-ratio:0) {
    .guidance2-pop .bot-right .space-firstnum{
         background: -webkit-gradient(linear,left top,left bottom,from(#f88b0a),to(#f4bf11));
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
     }
    .bot-right .space-secnum{
        background: -webkit-gradient(linear,left top,left bottom,from(#00c68e),to(#a7d3db));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .bot-right .space-thirdnum{
        background: -webkit-gradient(linear,left top,left bottom,from(#ee04e0),to(#f56447));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/*2级诱导 end*/
/*3级诱导1 sta*/
.guidance3-pop{
    width: 230px;
    height: auto;
    border-radius: 4px 4px 0 0;
    z-index: 1000;
}
.guidance3-pop .pop-content3{
    width: 230px;
    height: auto;
    border: 1px solid #07337b;
    border-radius: 4px 4px 0 0;
}
.guidance3-pop .pop-content3 .pop-topcontent3{
    height: 116px;
    width: 228px;
    background: rgba(30,43,103,.5);
    border-radius: 4px 4px 0 0;
    padding: 7px;
}
.guidance3-pop .topcontent-main3{
    height: 100px;
    width: 214px;
    background:rgba(35,53,133,1);
    padding: 0 16px;
    z-index: 1;

}
.guidance3-pop .topcontent-main3 .zte-logo3{
    float: left;
    width: 109px;
    height: 41px;
    background: url("../img/logo.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-right: 8px;
}
.guidance3-pop .topcontent-main3 .park-picon3{
    float: left;
    width: 64px;
    height: 64px;
    background: url("../img/p-icon.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 18px;
}
.guidance3-pop .pop-bottomcontent3{
    height: auto;
    width: 228px;
    background: #1e2b67;
    padding: 16px 15px 28px 20px;
}
.guidance3-pop .pop-bottomcontent3 .bottom-style3{
    width: 195px;
    height: 32px;
    margin-bottom: 28px;
}
.bottom-style3 .bottom3-left{
    float: left;
    width: 63px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    background: #1e2b67;
}
.bottom3-left .upper-case{
    font-size: 30px;
    width: 47px;
    margin-right: 2px;
    height: 32px;
    float: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.bottom-style3 .width15{
    width: 15px;
    height: 32px;
    float: left;
    background: #1e2b67;
}
.bottom-style3 .bottom3-mid{
    float: left;
    width: 44px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: -webkit-linear-gradient(#bad531,#00c68e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#bad531,#00c68e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#bad531,#00c68e); /* Firefox 3.6 - 15 */
    background: linear-gradient(#bad531,#00c68e); /* 标准的语法 */
}
.bottom-style3  .bottom3-right{
    float: left;
    width:72px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
}
.bg202020{
    background: #202020;
}
@media  screen and (-webkit-min-device-pixel-ratio:0) {
    .bottom-style3  .bottom3-right{
        background: -webkit-gradient(linear,left top,left bottom,from(#ee04e0),to(#f56447));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.pop-bottomcontent3 .maxheight-2m{
    width: 80px;
    height: 80px;
    background: url("../img/maxheight_2m.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 20px;
}

.pop-bottomcontent3 .maxheight-2m .maxheight-tit{
    display: inline-block;
    float: left;
    width:38px ;
    height: 32px;
    line-height:32px;
    font-size: 25px;
    color: #000;
    margin-left: 9px;
    margin-top: 23px;
    text-align: center;
}
.pop-bottomcontent3 .time-24h{
    width: 80px;
    height: 80px;
    background: url("../img/icon_24h.png") no-repeat;
    background-size: 100% 100%;
    float: left;

}
.pop-bottomcontent3 .time-hour{
    width: 80px;
    height: 80px;
    background: url("../img/24h.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}
.pop-bottomcontent3 .time-hour .time-num1{
    width:48px;
    height: 50px;
    margin-top: 22px;
    margin-left: 19px;
    font-size: 16px;
    color: #000;
    word-wrap:break-word;
}
.pop-bottomcontent3 .time-hour .time-num1 .spannum1{
     display: block;
     text-align: center;
     line-height: 18px;
     height: 18px;
     width: 50px;
 }
.pop-bottomcontent3 .time-hour .time-num1 .spannum2{
    display: block;
    text-align: center;
    line-height: 18px;
    height: 18px;
    width: 50px;
}
.pop-bottomcontent3 .time-hour .time-hicon{
    height: 16px;
    line-height: 16px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    color: #000;
    margin-left: 15px;
}
.pop-bottomcontent3 .now-turn{
    width: 87px;
    height: 76px;
    background: url("../img/nowturn.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-left:52px;
}
/*3级诱导1 end*/
.height24{
    height: 24px;
    width: 1px;
    background: #07337b;
    margin-left: 114.5px;
}
.pop-close{
    width: 30px;
    height: 30px;
    background: url("../img/close-icon.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 100px;
}
/*******************************************************右下角图例*/
.freespace{
    position: absolute;
    height: 144px;
    width: 136px;
    bottom: 75px;
    right: 50px;
    color: #bdd7fe;
    border: 1px solid #00286a;
    border-radius: 8px 8px 0 0;
}
.freespace .freespace-tit{
    width: 136px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background-color: #1e2b67;
    border-radius: 8px 8px 0 0;
}
.freespace .freespace-content{
    height: 112px;
    width: 136px;
    background-color: #1e2b67;
    opacity: 0.7;
    font-size: 12px;
    padding: 12px;
}
.freespace .freespace-content .freespace-msg{
    height: 30px;
    line-height: 30px;
}
.freespace-msg .msg-common{
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-top: 12px;
    margin-right: 6px;
}
.freespace-msg .msg-bgfull{
    background: url("../img/space_full.png") no-repeat;
    background-size:100% 100%;
}
.freespace-msg .msg-bgfew{
    background: url("../img/space_few.png") no-repeat;
    background-size:100% 100%;
}
.freespace-msg .msg-bgeough{
    background: url("../img/space_eough.png") no-repeat;
    background-size:100% 100%;
}
/*******************************************************侧栏*/
.model-left{
    width:390px;
    height: calc(100% - 150px);
    position: absolute;
    top:80px;
    left: 28px;
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    overflow: hidden;
}
.ser_title{
    padding-left: 36px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color:#5696ff;
    background: #1e2b67 url("../img/ser_title_icon.png") no-repeat 16px center;
}
.search_con{
    height: 36px;
    box-sizing: content-box;
    padding: 12px 8px;
    background: rgba(30,43,103,.5);
    border-left: 1px solid #00286a;
    border-right: 1px solid #00286a;
}
.ser_text{
    border:0;
    background: #1e2b67;
    padding-left: 8px;
    width: 188px;
    height: 36px;
    line-height: 36px;
    border-radius: 25px;
    padding-right: 50px;
    color: #bdd7fe;
}
.ser_btn{
    cursor: pointer;
    color:#fff;
    position: absolute;
    right: 0;
    top:0;
    width: 50px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #1c83f6;
    border-radius: 25px;
}
.guide_con{
    background: rgba(30,43,103,.5);
    border-left: 1px solid #00286a;
    border-right: 1px solid #00286a;
    margin-bottom: 0;
    padding: 0 8px 8px 8px;
    overflow: hidden;
}
.margin04{
    margin:0 4px;
}

.guide_con li{
    background: rgba(30,43,103,.7);
    width:121px;
    float: left;
    height: 138px;
    text-align: center;
    padding: 20px 20px;
}
.guide_number{
    margin-bottom: 10px;
    width: 72px;
    height: 72px;
    display: inline-block;
    line-height: 72px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: 100;
}
.guide_number_one{
    background: url("../img/guide_number_one.png") no-repeat;
}
.guide_number_two{
    background: url("../img/guide_number_two.png") no-repeat;
}
.guide_number_three{
    background: url("../img/guide_number_three.png") no-repeat;
}
.guide_name{
    font-size: 16px;
    color: #bdd7fe;
}
.list_wrap{
    overflow-y: scroll;
    background: rgba(30,43,103,.5);
}

/*!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!*/
/*.list_wrap::-webkit-scrollbar*/
/*{*/
    /*width: 6px;*/
    /*height: 6px;*/
    /*!*background-color:rgba(30,43,103,.5);*!*/
/*}*/

/*!*定义滚动条轨道 内阴影+圆角*!*/
/*.list_wrap::-webkit-scrollbar-track*/
/*{*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    /*!*background-color: #F5F5F5;*!*/
/*}*/

/*!*定义滑块 内阴影+圆角*!*/
/*.list_wrap::-webkit-scrollbar-thumb*/
/*{*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    /*background-color: #555;*/
/*}*/

.list_con{

    border-left: 1px solid #00286a;
    border-right: 1px solid #00286a;
    margin-bottom: 0;
    padding: 0 8px;
}
.list_con >li{
    background: rgba(30,43,103,.7);
    margin-bottom: 4px;
    overflow: hidden;
    cursor: pointer;
}
.list_item_ul{

    color: #bdd7fe;
    width: 242px;

}
.list_item_ul li{
    padding-top: 10px;
}
.list_item_ul li .space_span{
    display: inline-block;
    width:25px;
    text-align: right;
}
.list_item_ul li:last-child{
    padding-bottom: 10px;
}
.list_item_img{
    height: 126px;
    width: 130px;
    padding: 4px 0;
}
.list_item_img img{
    width: 100%;
    height: 100%;
    background: #f00;
}
.page_main_wrap{
    position: relative;
    margin-top: 32px;
    margin-bottom: 12px;
}
.guide_total{
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #bdd7fe;
    top: 25px;
    left: 8px;
}
.guide_total_number{
    font-size: 18px;
    margin-left: 12px;
}
.nodataInfo{
    padding: 0 8px;
    color: #bdd7fe;
}
input::-webkit-input-placeholder{  color: #bdd7fe;  }
input:-moz-placeholder{  color:#bdd7fe;  }
input::-moz-placeholder{  color:#bdd7fe;  }
input:-ms-input-placeholder{  color:#bdd7fe;  }
.guide_con,.list_wrap{
    display: none;
}
/*select样式重写*/
.sel-box{
    font-size: 14px;
    color:#bdd7fe;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}
.sel-box.on{
    /*border-color: #15A0F5;*/
}
.sel-title-box{
    height: 36px;
    line-height: 36px;
    position: relative;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color:#1e2b67;
}

.sel-title{
    padding-left: 8px;
    /*line-height: 2.2;*/
}
.sel-sign{
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 17px;
    width: 0;
    height: 0;
    border-top: 3px solid #fff;
    border-left:3px solid transparent;
    border-right:3px solid transparent;
    border-bottom:3px solid transparent;
}
/*.sel-sign.on{
	background: url(down22.png);
	background-size: 100% 100%;
}*/
.sel-float-box{
    margin-top: 4px;
    position: absolute;
    z-index: 2;
    background-color:#293c90;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 12px;
    /*line-height: 1.8;*/
}
.sel-float-box:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top:-6px;
    left:20px;
    z-index: 10;
    border-top: 3px solid #f00;
    border-left:3px solid transparent;
    border-right:3px solid transparent;
    border-bottom:3px solid transparent;

}
.sel-float-box.on{
    /*border-color: #15A0F5;*/
}
.sel-float-div{
    font-size: 14px;
    color: #bdd7fe;
    height: 32px;
    line-height: 32px;
    /*margin-left: 12px;*/
    /*margin-right: 12px;*/
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(189,215,254,.1);
}
.sel-float-div:last-child{
    border-bottom: 0;
}
.sel-float-div:hover{
    /*background-color:#15A0F5;*/
    /*color:white;*/
    cursor: pointer;
}
.sel-float-div-disabled{
    padding-left: 12px;
    /*line-height: 1.8;*/
    color:#bbb;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sel-hide{
    display: none;

}
/*分页样式*/
.callBackPager{
    /*border-top: 1px solid #1c83f6;*/
    margin-right: 8px;
    margin-left: 8px;
}
.callBackPager .pagination{
    float: right;
}


