@charset "utf-8";

* {
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: '微软雅黑';
    margin: 0 auto;
    width: 80%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

/*font_1*/
@font-face {
    font-family: "iconfont";
    src: url('../../fonts/font_1/iconfont.eot'); /* IE9*/
    src: url('../../fonts/font_1/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/font_1/iconfont.woff') format('woff'), /* chrome, firefox */ url('../../fonts/font_1/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../../fonts/font_1/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.top_toolbar {
    background: #f7f6f6;
    padding: 0;
    margin: 0;
    width: 100%;
}

.top_toolbar_inside {
    border: solid 1px #eaeaea;
    height: 30px;
}

.top-toolbar-details {
    height: 30px;
    border: solid 1px #eaeaea;
    border-bottom: none;
}

.top-info-bar-user{
    line-height: 30px;
    float: left;
    width: 50px;
    text-align: right;
}
.top-info-bar-user span{
    font-size: 13px;
}

.top-info-bar-time{
    line-height: 30px;
    float: left;
    margin-left: 10px;
}

.top-info-bar-time span{
    font-size: 13px;
}

.printing-but-style{
    float: right;
    line-height: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

.printing-but-style button {
    font-family: "iconfont" !important;
    border: 0;
    height: 100%;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 13px;
}

.top-annexes-details{
    border: solid 1px #eaeaea;
    border-bottom: 0;
    border-top: 0;
    padding: 5px 0;
}

.annexes-icon-details{
    width: 50px;
    text-align: right;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    float: left;
    line-height: 30px;
}

.annexes-icon-details button {
    font-family: "iconfont" !important;
    border: 0;
    height: 30px;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.top_toolbar_inside a {
    display: inline-block;
    padding: 0 10px;
    color: #000000;
    height: auto;
    line-height: 28px;
    border: 1px solid #f7f6f6;
    cursor: pointer;
}

.top_toolbar_inside a span:hover {
    color: #2196F3;
}

.top-toolbar-annexes {
    border: solid 1px #eaeaea;
    padding: 7px 0;
    height: 30px;
}

.annexes-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

.annexes-icon button {
    font-family: "iconfont" !important;
    border: 0;
    height: 30px;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.top_toolbar_em {
    background: #010101;
    width: 1px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.form_area {
    padding: 8px 20px;
    margin-bottom: 25px;
    background: #f7f6f6;
    border: solid 1px #e9e9e9;
    border-top: none;
}

.form_area table tbody tr {
    height: 33px;
    background: #f7f6f6;
}

.th_title {
    width: 3%;
    text-align: right;
    padding-right: 5px;
}

.common_input_frame {
    border: solid 1px #aba9a9;
    padding: 0 5px;
    background: #fff;
}

.common_input_frame input {
    width: 100%;
    height: 30px;
    outline: none;
}

.condition_select_frame {
    padding-left: 10px;
    width: 8%;
}

.common_select_frame {
    border: solid 1px #aba9a9;
    height: 25px;
}

.common_select_frame select {
    height: 100%;
    width: 99.9%;
}

.common_select_frame input {
    width: 100%;
    height: 100%;
}

.common_condition_select_frame {
    width: 13%;
}

.common_th {
    width: 6%;
    text-align: right;
    padding-right: 5px;
}

.common_radio {
    padding-left: 10px;
}

.tdLabel {
    background: #f6f6f6;
    text-align: right;
    white-space: nowrap;
    width: 15%;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.table-td-content {
    padding: 0 10px;
}

.formInput {
    border: solid 1px #c6c6c6;
    color: #585858;
    outline: none;
    width: 100%;
    height: 28px;
    text-indent: 5px;
}

.formInput-readonly {
    border: solid 1px #c6c6c6;
    color: #585858;
    outline: none;
    width: 100%;
    height: 28px;
    text-indent: 5px;
    background-color: #e8e8e8;
}

.note-taker-style {
    width: 100%;
    height: 25px;
    margin: 10px 0 20px;
}

.note-taker-content {
    width: 150px;
    border: solid 1px #c6c6c6;
    color: #585858;
    outline: none;
    height: 25px;
    text-indent: 5px;
    float: right;
    background-color: #f6f6f6;
    margin-right: 12px;
}

.note-taker-title {
    line-height: 25px;
    font-weight: 600;
    font-size: 13px;
    float: right;

}

.select {
    height: 30px;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    outline: none;
    width: 99%;
    text-indent: 5px;
}

.swidth {
    width: 265px;
    height: 30px;
    margin: 0 5px;
    outline: none;
}

.opinion-column {
    resize: none;
    width: 99%;
    font-size: 14px;
    height: 100%;
    outline: none;
    display: block;
    color: #000;
    border: solid 1px #c6c6c6;
    padding: 5px;
    background-color: #f6f6f6;
}

.table-remark {
    resize: none;
    width: 100%;
    font-size: 14px;
    height: 100%;
    outline: none;
    display: block;
    color: #000;
    border: solid 1px #c6c6c6;
    padding: 5px;
}

.table-td-reason {
    padding: 5px 10px;
    height: 45px;
}

.table-reason {
    resize: none;
    width: 97%;
    font-size: 14px;
    outline: none;
    display: block;
    color: #000;
    border: solid 1px #c6c6c6;
    padding: 5px;
}

.evaluation-content {
    resize: none;
    font-size: 14px;
    outline: none;
    display: block;
    color: #000;
    border: solid 1px #c6c6c6;
    padding: 5px;
    width: 100%;
    height: 82%
}

.evaluation-content-tips {
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 5px 10px 0 0;
    float: right;
}

.evaluation-content-tips span {
    color: #f00;
    vertical-align: middle;
    margin-right: 3px;
}

.opinion-column-Juxtaposition {
    resize: none;
    font-size: 14px;
    outline: none;
    color: #000;
    border: solid 1px #c6c6c6;
    padding: 5px;
    width: 100%;
    height: 73px;
    background-color: #f6f6f6;
}

.read-write-permission {
    resize: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
    outline: none;
    display: block;
    background: #f6f6f6;
    border: solid 1px #c6c6c6;
}

.approval-content-textarea {
    resize: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    outline: none;
    display: block;
    background: #f6f6f6;
    border: solid 1px #c6c6c6;
    height: 60px
}

.approval-date {
    float: right;
    line-height: 35px;
}

.approval-date-label {
    font-size: 13px;
}

.approval-date-input {
    border: 1px solid #c6c6c6;
    height: 25px;
    width: 140px;
    outline: none;
    padding: 0 5px;
    background: #f6f6f6;
}

.approval-signature {
    float: right;
    margin-right: 15px;
    line-height: 35px;
}

.approval-signature-label {
    font-size: 13px;
}

.approval-signature-input {
    border: 1px solid #c6c6c6;
    height: 25px;
    width: 100px;
    outline: none;
    padding: 0 5px;
    background: #f6f6f6;
}

.fill-in-date {
    float: right;
    margin: 0 10px 5px 0;
    font-size: 13px;
}

.formTable {
    border: solid 1px #d4d4d4;
    width: 100%;
    margin: 0 auto 20px;
}

.formTable td {
    line-height: 40px;
    border: solid 1px #e5e5e5;
}

.formTable td a:hover {
    text-decoration: underline;
}

.formTable td em {
    font-style: normal;
    color: #8d8d8d;
    font-size: 12px;
}

.reason-td {
    height: 58px;
    padding: 10px 16px;
}

.reason-td > textarea {
    resize: none;
    width: 99%;
    margin: 0;
    font-size: 14px;
    height: 100%;
    outline: none;
    display: block;
    border: 1px #d7d7d7 solid;
    padding: 5px;
}

.tab_send_but {
    width: 4%
}

.tab_send_but > input {
    padding: 15px;
    background-color: #00a6f570;
}

.head_left_button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    line-height: 30px;
    margin: 0 10px;
}

.head_left_button button {
    font-family: "iconfont" !important;
    border: 0;
    height: 100%;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.head_left_button button:hover {
    color: #0089f7;
}

.cursor_hand {
    cursor: pointer;
}

.separation_line {
    background: #000000;
    width: 1px;
    height: 12px;
    float: left;
    margin-top: 8px;
}

.table-title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.table-title span {
    font-size: 17px;
}

.table-tab-send {
    padding: 5px 15px;;
    background-color: #38adff;
    color: #FFFFFF;
    outline: none;
}

.table-tab-send:hover {
    background-color: #6dbff9;
}

.table-td-textarea {
    height: 78px;
    padding: 10px;
}

.table-td-evaluation {
    height: 150px;
    padding: 10px 10px 0 10px;
}

.opinion-principal {
    width: 49.5%;
    display: inline-block;
}

.opinion-principal-title {
    height: 20px;
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
}

.opinion-supervisor {
    width: 49.5%;
    display: inline-block;
    float: right
}

.approval-content {
    height: 78px;
    padding: 10px 10px 4px;
}

.form-but {
    text-align: center;
}

.return-but {
    padding: 7px 20px;
    border: 1px #a5a5a5 solid;
    cursor: pointer;
    background: #ffffff;
    outline: none;
    border-radius: 5px;
}

.commit-but {
    padding: 7px 20px;
    border: 1px #a5a5a5 solid;
    cursor: pointer;
    background: #38adff;
    outline: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.commit-but:hover, .return-but:hover {
    background: #6dbff9;
    color: #FFFFFF;
}

.handle-container {
    margin: 20px 0;
}

.handle-title {
    width: 100%;
    background: #afdbef;
    height: 40px;
}

.handle-title-script {
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
    border: 1px #b3b3b3 solid;
    border-bottom: none;
}

.receipt-container {
    margin: 20px auto;
    height: auto;
    border: 1px #b3b3b3 solid;
}

.receipt-title {
    width: 100%;
    background: #afdbef;
    height: 40px;
}

.receipt-script {
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
}

.receipt-style {
    height: 15px;
}

.comment-container {
    height: 25px;
    padding: 10px;
    font-size: 13px;
}

.comment-style {
    width: 100%;
    height: 100%;
    line-height: 25px;
    background: #d8eef9;
}

.comment-name {
    float: left;
    margin: 0 15px;
    width: 40px;
}

.comment-message {
    float: left;
    margin: 0 15px;
}

.comment-date {
    float: left;
    margin: 0 15px;
}

.delete-file {
    font-family: "iconfont" !important;
    border: 0;
    height: 100%;
    background: none;
    padding: 0;
    outline: none;
    color: #565656;
    margin-left: 10px;
    cursor: pointer;
}

.icon {
    font-size: 12px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #7b7b7b;
    cursor: pointer;
}

.delete-file:hover {
    color: #868686;
}

.table-file {
    display: inline-block;
    margin-left: 10px;
}

.table-file-content {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: #dbe6f3;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.table-file-title {
    color: #565656;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.table-file-download {
    color: #565656;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.table-file-download:hover {
    color: #908f8f;
}

.notice-personnel {
    margin-bottom: 10px;
}

.notice-personnel-field {
    border: 0;
    border-bottom: 1px #000 solid;
    text-align: center;
    width: 100px;
    outline: none;
    height: 28px;
    font-size: 14px;
    font-weight: 600
}

.notice-content {
    font-size: 14px;
    text-indent: 50px;
    margin-bottom: 10px;
}

.agreement-start-end {
    border: 0;
    border-bottom: 1px #000 solid;
    text-align: center;
    width: 130px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    height: 28px;
    text-indent: 5px;
}

.agreement-days {
    border: 0;
    border-bottom: 1px #000 solid;
    text-align: center;
    width: 50px;
    outline: none;
    height: 28px;
    font-size: 14px;
    font-weight: 600
}

.notice-sign {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

.notice-sign-position {
    float: right;
    margin-right: 30px;
}

.notice-sign-position label {
    font-size: 14px
}

.notice-seal {
    float: right;
    margin-right: 80px;
}

.notice-seal span {
    font-size: 14px
}

.notice-relevant-personnel {
    font-size: 14px;
    border: 0;
    font-weight: 600;
    color: #000;
    width: 70px;
    text-align: center;
    height: 25px;
    outline: none;
    padding: 0 5px;
    background: #f6f6f6;
}

.notice-date {
    margin-left: 15px;
    font-size: 14px;
    border: 0;
    font-weight: 600;
    color: #000;
    width: 135px;
    background: #f6f6f6;
    height: 25px;
}

.td-column-two {
    padding: 0;
    margin: 0;
    text-align: center;
}

.notice-tips {
    margin: 10px 0 20px 0;
    text-align: right;
    font-weight: 600;
    color: #000;
}

.notice-tips-mark {
    font-size: 15px;
    font-weight: 800;
    vertical-align: middle;
    color: #ff0000;
}

.notice-tips-script {
    font-size: 13px;
    margin-right: 20px;
}

.form-table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    border: solid 1px #d4d4d4;
    margin: 0
}

.form-table td {
    line-height: 40px;
    border: solid 1px #e5e5e5;
}

.form-table td a:hover {
    text-decoration: underline;
}

.form-table td em {
    font-style: normal;
    color: #8d8d8d;
    font-size: 12px;
}

.td-column-three {
    padding: 0;
    margin: 0;
    text-align: center;
}

.notice-td-label {
    background: #f6f6f6;
    text-align: center;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
}