@charset "utf-8";

* {
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: '微软雅黑';
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

/*font_1*/
@font-face {
    font-family: "iconfont";
    src: url('../../fonts/font_1/iconfont.eot'); /* IE9*/
    src: url('../../fonts/font_1/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/font_1/iconfont.woff') format('woff'), /* chrome, firefox */ url('../../fonts/font_1/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../../fonts/font_1/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.top_toolbar {
    background: #f7f6f6;
    padding: 0;
    margin: 0;
    width: 100%;
}

.top_toolbar_inside {
    border: solid 1px #d4d4d4;
    height: 30px;
}

.top_toolbar_inside a {
    display: inline-block;
    padding: 0 10px;
    color: #000000;
    height: auto;
    line-height: 28px;
    border: 1px solid #f7f6f6;
    cursor: pointer;
}

.top_toolbar_inside a span:hover {
    color: #2196F3;
}

.top_toolbar_em {
    background: #010101;
    width: 1px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.form_area {
    padding: 8px 20px;
    margin-bottom: 10px;
    background: #f7f6f6;
    border: solid 1px #d4d4d4;
    border-top: none;
}

.form_area table tbody tr {
    height: 33px;
    background: #f7f6f6;
}

.th_title {
    width: 3%;
    text-align: right;
    padding-right: 5px;
}

.common_input_frame {
    border: solid 1px #aba9a9;
    padding: 0 5px;
    background: #fff;
}

.common_input_frame input {
    width: 100%;
    height: 30px;
    outline: none;
}

.condition_select_frame {
    padding-left: 10px;
    width: 8%;
}

.common_select_frame {
    border: solid 1px #aba9a9;
    height: 25px;
}

.common_select_frame select {
    height: 100%;
    width: 99.9%;
}

.common_select_frame input {
    width: 100%;
    height: 100%;
}

.common_condition_select_frame {
    width: 13%;
}

.common_th {
    width: 6%;
    text-align: right;
    padding-right: 5px;
}

.common_radio {
    padding-left: 10px;
}

.tdLabel {
    background: #f6f6f6;
    text-align: right;
    white-space: nowrap;
    width: 10%;
    padding-right: 10px;
}

.table-td-content {
    padding: 0 10px;
}

.formInput {
    border: solid 1px #c6c6c6;
    color: #585858;
    outline: none;
    width: 100%;
    height: 28px;
    text-indent: 5px;
}

.select {
    height: 30px;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    outline: none;
    width: 99%;
    text-indent: 5px;
}

.swidth {
    width: 265px;
    height: 30px;
    margin: 0 5px;
    outline: none;
}

.opinion-column {
    resize: none;
    width: 99%;
    font-size: 15px;
    height: 100%;
    outline: none;
    display: block;
    color: #000;
    border: solid 1px #c6c6c6;
    padding: 5px;
}

.read-write-permission {
    resize: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
    outline: none;
    display: block;
    background: #f6f6f6;
    border: solid 1px #c6c6c6;
}

.formTable {
    border: solid 1px #d4d4d4;
    width: 100%;
    margin: 30px auto 0;
}

.formTable td {
    line-height: 40px;
    border: solid 1px #e5e5e5;
}

.formTable td a:hover {
    text-decoration: underline;
}

.formTable td em {
    font-style: normal;
    color: #8d8d8d;
    font-size: 12px;
}

.reason-td {
    height: 58px;
    padding: 10px 16px;
}

.reason-td > textarea {
    resize: none;
    width: 99%;
    margin: 0;
    font-size: 14px;
    height: 100%;
    outline: none;
    display: block;
    border: 1px #d7d7d7 solid;
    padding: 5px;
}

.tab_send_but {
    width: 4%
}

.tab_send_but > input {
    padding: 15px;
    background-color: #00a6f570;
}

.head_left_button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    line-height: 30px;
    margin: 0 10px;
}

.head_left_button button {
    font-family: "iconfont" !important;
    border: 0;
    height: 100%;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.head_left_button button:hover {
    color: #0089f7;
}

.cursor_hand {
    cursor: pointer;
}

.separation_line {
    background: #000000;
    width: 1px;
    height: 12px;
    float: left;
    margin-top: 8px;
}

.table-title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.table-title span {
    font-size: 17px;
}

.table-tab-send {
    padding: 5px 15px;;
    background-color: #92ebff;
    outline: none;
}

.table-tab-send:hover {
    background-color: #00BCD4;
}

.table-td-textarea {
    height:68px;
    padding: 10px;
}

.form-but {
    text-align: center;
}

.return-but {
    padding: 7px 20px;
    border: 1px #a5a5a5 solid;
    cursor: pointer;
    background: #ffffff;
    outline: none;
    border-radius: 5px;
}

.commit-but {
    padding: 7px 20px;
    border: 1px #a5a5a5 solid;
    cursor: pointer;
    background: #92ebff;
    outline: none;
    border-radius: 5px;
}

.commit-but:hover, .return-but:hover {
    background: #00BCD4;
}

.handle-container {
    margin: 20px 0;
}

.handle-title {
    width: 100%;
    background: #afdbef;
    height: 40px;
}

.handle-title-script {
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
    border: 1px #b3b3b3 solid;
    border-bottom: none;
}

.receipt-container {
    margin: 20px auto;
    height: auto;
    border: 1px #b3b3b3 solid;
}

.receipt-title {
    width: 100%;
    background: #afdbef;
    height: 40px;
}

.receipt-script {
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
}

.receipt-style{
    height: 15px;
}

.comment-container {
    height: 25px;
    padding: 10px;
    font-size: 13px;
}

.comment-style {
    width: 100%;
    height: 100%;
    line-height: 25px;
    background: #d8eef9;
}

.comment-name {
    float: left;
    margin: 0 15px;
    width: 40px;
}

.comment-message {
    float: left;
    margin: 0 15px;
}

.comment-date {
    float: left;
    margin: 0 15px;
}