.single-option-window {
    height: 94%;
    padding: 10px 20px;
}

.option-window-body-head {
    overflow: auto;
    height: 85%;
}

.option-window-body-bottom {
    position: absolute;
    bottom: 10px;
    left: 41%;
}

.left-spacing {
    margin-left: 30px;
}

.body-bottom-button {
    border-radius: 5px;
    padding: 7px 20px;
    background: #92ebff;
    border: 1px #a5a5a5 solid;
    outline: none
}

.left-spacing {
    margin-left: 30px;
}

.single-election-box-li:hover {
    background: #e6e6e6;
}

.single-election-box-li {
    padding: 5px 20px;
}

.single-election-box-li img {
    vertical-align: middle;
}

.single-election-box-li span {
    margin-left: 10px;
    display: inline-block;
}

.selection {
    background: url("../../../static/images/icon/select1.png") no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    float: right;
    background-size: 15px 15px;
    margin-top: 3px;
}

.selectedDrafter {
    background: url("../../../static/images/icon/select1.png") no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    float: right;
    background-size: 15px 15px;
    margin-top: 3px;
}

/*抄送人员选择*/
.option-window {
    padding: 0 2%;
    width: 96%;
}

.selection-box {
    width: 49%;
    float: left;
    padding-right: 1%;
}

.selection-box-title {
    padding: 3% 0;
    height: 5%;
}

.selection-box-title > span {
    font-size: 14px;
    font-weight: 600;
}

.selection-content-outer {
    width: 99%;
    border: 1px solid #dedede;
    border-radius: 4px;
    background: #f4f6f8;
    height: 88%;
    padding: 0;
    margin: 0;
}

.selection-content-inside {
    padding: 0 10px;
    height: 100%;
    overflow: auto;
}

.selection-content-inside > ul {
    padding: 10px 0;
}

.selection-box-li ul span:hover {
    border-bottom: 1.5px solid #000;
}

.cursor_hand {
    cursor: pointer;
}

.selection-box-li > span:hover {
    color: #2196F3;
}

.selection-box-li {
    margin: 5px 20px;
}

.selection-box-li img {
    vertical-align: middle;
}

.selection-box-li span {
    margin-left: 5px
}

.submenu-ul {
    display: none;
    padding: 0;
    font-size: 13px;
}

.submenu-ul li {
    margin: 5px 0 5px 20px;
}

.selected-box {
    width: 49%;
    float: left;
    padding-left: 1%;
}

.selected-box-content ul {
    padding: 10px 0;
}

.selected-box-content ul li:hover {
    background: #e6e6e6;
}

/*关联表单样式*/
.relevance-table {
    border: solid 1px #d4d4d4;
    width: 100%;
}

.relevance-table thead tr th {
    height: 40px;
    text-align: center;
    white-space: nowrap;
    border: solid 1px #e5e5e5;
    font-size: 13px;
    font-weight: 600;
    background: #2ca4f9;
    line-height: 40px;
    color: #ffffff;
}

.relevance-table tbody tr td {
    line-height: 35px;
    border: solid 1px #e5e5e5;
    text-align: center;
}

/*首页嵌套办公用品需求计划表样式*/
.formTable {
    border: solid 1px #d4d4d4;
    width: 100%;
    margin: 0 auto 20px;
}

.formTable td {
    line-height: 40px;
    border: solid 1px #e5e5e5;
}

.formTable thead tr th {
    line-height: 40px;
    border: solid 1px #e5e5e5;
    text-align: center;
    background: #f6f6f6;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
}

.tdLabel {
    background: #f6f6f6;
    text-align: right;
    white-space: nowrap;
    width: 15%;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.table-td-content {
    padding: 0 10px;
}

.approval-content {
    height: 78px;
    padding: 10px 10px 4px;
}

.approval-content-textarea {
    resize: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    outline: none;
    display: block;
    background: #e8e8e8;
    border: solid 1px #c6c6c6;
    height: 60px
}

.approval-date {
    float: right;
    line-height: 35px;
}

.approval-date-label {
    font-size: 13px;
}

.approval-date-input {
    border: 1px solid #c6c6c6;
    height: 25px;
    width: 130px;
    outline: none;
    padding: 0 5px;
    background: #e8e8e8;
}

.approval-signature {
    float: right;
    margin-right: 15px;
    line-height: 35px;
}

.approval-signature-label {
    font-size: 13px;
}

.approval-signature-input {
    border: 1px solid #c6c6c6;
    height: 25px;
    width: 55px;
    outline: none;
    padding: 0 5px;
    background: #e8e8e8;
}

/*oa表单中上传文件*/
.file-input {
    width: 45px;
    height: 28px;
    display: block;
    position: absolute;
    left: 313px;
    top: 29px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.add-but {
    padding: 5px 10px;
    background: #38adff;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}

.file-ul {
    width: 260px;
    height: auto;
    min-height: 25px;
    margin: 0;
    float: left;
    border: 1px #848484 solid;
    padding: 0 5px;
}


.file-li {
    height: 25px;
    line-height: 25px;
    float: left;
    white-space: nowrap;
    list-style: none;
    margin: 0 5px;
    line-height: 25px;
    display: inline-block;
}

.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


/*修改密码*/
.psw-new-style {
    margin-top: 25px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.psw-new-name {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.psw-new-input {
    height: 38px;
    line-height: 1.3;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid #cecccc;
}

.psw-new-tips {
    color: #797979;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    text-indent: 5px;
    min-height: 13px;
}

.paw-confirm-style {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.paw-confirm-name {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.paw-confirm-input {
    height: 38px;
    line-height: 1.3;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid #cecccc;
}

.paw-confirm-tips {
    color: #797979;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    text-indent: 5px;
    min-height: 13px
}

.confirm-modify-psw-style {
    float: left;
    width: 100%;
    text-align: center
}

.confirm-modify-psw {
    outline: none;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #2ca4f9;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.confirm-modify-psw:hover{
    background: #42acf9;
}

