<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.DepartmentMapper">

    <select id="selectKeyAndName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            department_key as departmentKey,
            department_name as departmentName
        FROM department
    </select>

    <select id="departmentNameFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.Department">
       SELECT
            dep.id,
            dep.department_key AS departmentKey,
            dep.department_name AS departmentName,
            ui1.nickname AS principal,
            ui2.nickname AS supervisor
        FROM
            `department` AS dep
            INNER JOIN user_info AS ui1 ON dep.principal = ui1.id
            INNER JOIN user_info AS ui2 ON dep.supervisor = ui2.id
        WHERE
            dep.department_name LIKE "%"#{departmentName}"%"
    </select>

    <select id="checkDepartmentName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            department_key as departmentKey,
            department_name as departmentName,
            principal,
            supervisor
        FROM
            department
        WHERE
            department_name = #{departmentName}
    </select>

    <update id="bindingDepartmentHead" parameterType="java.util.Map">
        update department
        set principal = #{principal}
        where id = #{id}
    </update>

    <select id="selectAllDepartment" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            dep.id,
            dep.department_key AS departmentKey,
            dep.department_name AS departmentName,
            ui1.nickname AS principal,
            ui2.nickname AS supervisor
        FROM
            `department` AS dep
            INNER JOIN user_info AS ui1 ON dep.principal = ui1.id
            INNER JOIN user_info AS ui2 ON dep.supervisor = ui2.id
    </select>

    <update id="updateDepartmentName" parameterType="java.util.Map">
        update department
        set department_name = #{departmentName}
        where id = #{id}
    </update>

    <select id="selectEnforcer" parameterType="java.util.Map" resultType="java.lang.String" statementType="STATEMENT">
        SELECT
            ${column}
        FROM `department`
        WHERE department_key = ${departmentKey}
    </select>

    <select id="selectDepartmentNameByDepartmentKey" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            department_name
        FROM
            `department`
        WHERE
            department_key = #{departmentKey}
    </select>
    
    <select id="selectPrincipalAndSupervisor"  resultType="com.jiaoke.oa.bean.Department">
        SELECT
            id,
            principal,
            supervisor
        FROM
            `department`
        ORDER BY
            id ASC
            LIMIT 0,6
    </select>
</mapper>