<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.DepartmentMapper">

    <select id="selectKeyAndName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            department_key as departmentKey,
            department_name as departmentName
        FROM department
    </select>

    <select id="departmentNameFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            id,
            department_key as departmentKey,
            department_name as departmentName,
            principal
        FROM
            department
        WHERE
            department_name LIKE "%"#{departmentName}"%"
    </select>

    <select id="checkDepartmentName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            department_key as departmentKey,
            department_name as departmentName,
            principal
        FROM
            department
        WHERE
            department_name = #{departmentName}
    </select>

    <update id="bindingDepartmentHead" parameterType="java.util.Map">
        update department
        set principal = #{principal}
        where id = #{id}
    </update>

    <select id="selectAllDepartment" resultType="com.jiaoke.oa.bean.Department">
        SELECT
            dep.id,
            dep.department_key as departmentKey,
            dep.department_name as departmentName,
            ui.nickname AS principal
        FROM
            `department` AS dep
        LEFT JOIN user_info AS ui ON dep.principal = ui.id
    </select>

    <update id="updateDepartmentName" parameterType="java.util.Map">
        update department
        set department_name = #{departmentName}
        where id = #{id}
    </update>
</mapper>