<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.DingDingPunchDateMapper">

    <insert id="insert" parameterType="com.jiaoke.oa.bean.DingDingPunchDate">
        insert into ding_ding_punch_date
        (id, `day`, week, create_time)
        values
        (#{id}, #{day}, #{week}, #{createTime})
    </insert>

    <select id="selectAll" resultType="com.jiaoke.oa.bean.DingDingPunchDate">
        SELECT
            id, `day`, week, create_time as createTime
        FROM
            `ding_ding_punch_date`
        WHERE
            DATE_FORMAT( create_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ), '%Y%m' )
        ORDER BY
            create_time
    </select>
</mapper>