<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaActMealsMapper">

    <insert id="insertData" parameterType="com.jiaoke.oa.bean.OaActMeals">
        insert into oa_act_meals
            (id,title,applicant,entertain,dining_time,standard,chef,`number`,place,table_number,dishes,dishes_content,remarks,create_time,promoter,url)
        values
            (#{id},#{title},#{applicant},#{entertain},#{diningTime},#{standard},#{chef},#{number},#{place},#{tableNumber},#{dishes},#{dishesContent},#{remarks},#{createTime},#{promoter},#{url})
    </insert>
</mapper>