<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaActCardMapper">

    <insert id="insertData" parameterType="com.jiaoke.oa.bean.OaActCard">
        insert into oa_act_card
            (id,title,applicant,apply_time,company,reason,start_time,end_time,state,create_time,promoter,url)
        values
            (#{id},#{title},#{applicant},#{applyTime},#{company},#{reason},#{startTime},#{endTime},#{state},#{createTime},#{promoter},#{url})
    </insert>

    <update id="updateStateById" parameterType="java.util.Map">
        update oa_act_card
        set state = #{state}
        where id = #{id}
    </update>
</mapper>