<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaActSealsBorrowMapper">

    <insert id="insertData" parameterType="com.jiaoke.oa.bean.OaActSealsBorrow">
        insert into oa_act_seals_borrow
            (id,title,seal,borrow_time,content,borrower,create_time,promoter,url)
        values
            (#{id},#{title},#{seal},#{borrowTime},#{content},#{borrower},#{createTime},#{promoter},#{url})
    </insert>
</mapper>