<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaActEngineeringMapper">

    <insert id="insertData" parameterType="com.jiaoke.oa.bean.OaActEngineering">
        insert into oa_act_engineering
            (id,title,before_name,after_name,before_company,after_company,before_variety,after_variety,before_data,after_data,before_number,after_number,use_company,salesman,remark,create_time,promoter,url)
        values
            (#{id},#{title},#{beforeName},#{afterName},#{beforeCompany},#{afterCompany},#{beforeVariety},#{afterVariety},#{beforeData},#{afterData},#{beforeNumber},#{afterNumber},#{useCompany},#{salesman},#{remark},#{createTime},#{promoter},#{url})
    </insert>
</mapper>