<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaActSealsUseMapper">

    <insert id="insertData" parameterType="com.jiaoke.oa.bean.OaActSealsUse">
        insert into oa_act_seals_use
            (id,title,`number`,applicant,seal,`name`,create_time,promoter,url)
        values
            (#{id},#{title},#{number},#{applicant},#{seal},#{name},#{createTime},#{promoter},#{url})
    </insert>
</mapper>