<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaAssetsManagementMapper">

    <select id="fuzzyQueryByName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaAssetManagement">
        SELECT
            id as id,
            assets_name as assetsName,
            assets_category as assetsCategory,
            product_specification as productSpecification,
            product_quantity as productQuantity,
            product_source as productSource,
            storage_location as storageLocation,
            entry_person as entryPerson,
            custodian as custodian,
            packing_list as packingList,
            remarks as remarks,
            create_time as createTime
        FROM oa_asset_management
        WHERE
            assets_name LIKE "%"#{assetsName}"%"
    </select>
</mapper>