<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaAssetUseMapper">

    <insert id="batchInsertData" parameterType="com.jiaoke.oa.bean.OaAssetUse">
        insert into oa_asset_use
        (asset_name,
        use_before_number,
        use_number,
        use_after_number,
        use_department,
        use_person,
        use_date,
        custodian)
        values
        <foreach collection="list" item="list" separator=",">
            (#{list.assetName},#{list.useBeforeNumber},#{list.useNumber},#{list.useAfterNumber},#{list.useDepartment},#{list.usePerson},#{list.useDate},#{list.custodian})
        </foreach>
    </insert>

    <select id="fuzzyQueryByName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaAssetUse">
        SELECT
            id as id,
            asset_name as assetName,
            use_before_number as useBeforeNumber,
            use_number as useNumber,
            use_after_number as useAfterNumber,
            use_department as useDepartment,
            use_person as usePerson,
            use_date as useDate,
            custodian as custodian
        FROM oa_asset_use
        WHERE
            use_person LIKE "%"#{usePerson}"%"
    </select>
</mapper>