<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaAssetsManagementMapper">

    <select id="selectAllDate" resultType="com.jiaoke.oa.bean.OaAssetManagement">
        SELECT
            id as id,
            assets_name as assetsName,
            product_quantity as productQuantity,
            storage_location as storageLocation,
            entry_person as entryPerson,
            custodian as custodian,
            remarks as remarks,
            create_time as createTime
        FROM
            oa_asset_management
        WHERE
	        state = 0
        ORDER BY
            create_time DESC
    </select>

    <select id="fuzzyQueryByName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaAssetManagement">
        SELECT
            id as id,
            assets_name as assetsName,
            product_quantity as productQuantity,
            storage_location as storageLocation,
            entry_person as entryPerson,
            custodian as custodian,
            remarks as remarks,
            create_time as createTime
        FROM oa_asset_management
        WHERE
            assets_name LIKE "%"#{assetsName}"%"
            AND state = 0
        ORDER BY
            create_time DESC
    </select>

    <insert id="batchInsertData" parameterType="com.jiaoke.oa.bean.OaAssetManagement">
        insert into oa_asset_management
        (assets_name,
        product_quantity,
        storage_location,
        entry_person,
        custodian,
        remarks,
        create_time)
        values
        <foreach collection="list" item="list" separator=",">
            (#{list.assetsName},
            #{list.productQuantity},
            #{list.storageLocation},
            #{list.entryPerson},
            #{list.custodian},
            #{list.remarks},
            #{list.createTime}
            )
        </foreach>
    </insert>

    <insert id="insertReturnId" parameterType="com.jiaoke.oa.bean.OaAssetManagement" useGeneratedKeys="true"
            keyProperty="id">
        insert into oa_asset_management
        (assets_name,
        product_quantity,
        storage_location,
        entry_person,
        custodian,
        remarks,
        create_time)
        values
            (#{assetsName},
            #{productQuantity},
            #{storageLocation},
            #{entryPerson},
            #{custodian},
            #{remarks},
            #{createTime})
    </insert>

    <select id="selectNameAndNumber" resultType="com.jiaoke.oa.bean.OaAssetManagement">
        SELECT
            id as id,
            assets_name as assetsName,
            product_quantity as productQuantity
        FROM oa_asset_management
        WHERE
            state = 0
            AND product_quantity &gt; 0
        ORDER BY
            create_time DESC
    </select>

    <update id="updateProductQuantityById" parameterType="java.lang.Integer">
        update oa_asset_management set product_quantity = #{productQuantity} where id = #{id}
    </update>

    <select id="selectByAssetsName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaAssetManagement">
        SELECT
            id as id,
            product_quantity as productQuantity
        FROM oa_asset_management
        where assets_name = #{assetsName}
    </select>

    <update id="updateStateById" parameterType="java.lang.Integer">
        update oa_asset_management set state = #{state} where id = #{id}
    </update>
</mapper>