<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaCopyDeliveryMapper">

    <select id="copyDeliveryFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaCopyDelivery">
       SELECT
            id,`name`, description
        FROM
            `oa_copy_delivery`
        WHERE
            `name` LIKE "%"#{name}"%"
    </select>

    <delete id="batchDeleteCopy" parameterType="java.lang.String">
        delete from `oa_copy_delivery` where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--copy_user表操作-->
    <select id="selectBoundUser" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            user_id
        FROM
            `oa_copy_user`
        WHERE
            copy_delivery_id = #{id}
    </select>

    <delete id="deleteByCopyId">
        delete from oa_copy_user where copy_delivery_id = #{mainId}
    </delete>

    <insert id="insertData" parameterType="map">
        INSERT INTO oa_copy_user ( copy_delivery_id, user_id )
        VALUES
        <foreach collection="array" item="item" index="index" separator=",">
            (#{copyId},#{item})
        </foreach>
    </insert>

    <delete id="batchDeleteRelation" parameterType="java.lang.String">
        delete from `oa_copy_user` where copy_delivery_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>