<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaCorporateHonorMapper">

    <select id="selectLatestData" resultType="com.jiaoke.oa.bean.OaCorporateHonor">
        SELECT
            id as id,
            title as title,
            publisher as publisher,
            release_department as releaseDepartment,
            release_date as releaseDate,
            summary as summary,
            rich_text as richText
        FROM oa_corporate_honor
        ORDER BY
            release_date desc
        LIMIT 5
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaCorporateHonor">
        SELECT
            id as id,
            title as title,
            publisher as publisher,
            release_department as releaseDepartment,
            release_date as releaseDate,
            summary as summary,
            rich_text as richText
        FROM oa_corporate_honor
        ORDER BY
            release_date desc
    </select>
</mapper>