<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaEiaMonitorMapper">

    <select id="getSelectBySampleName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaEiaMonitor">
        SELECT
            id as id,
            report_number as reportNumber,
            sample_name as sampleName,
            testing_company as testingCompany,
            testing_date as testingDate,
            rich_text as richText,
            create_time as createTime
        FROM oa_eia_monitor
        WHERE
            sample_name LIKE "%"#{sampleName}"%"
        ORDER BY
	        create_time DESC
    </select>

    <select id="getSelectByTestingDate" parameterType="java.util.Date" resultType="com.jiaoke.oa.bean.OaEiaMonitor">
        SELECT
            id as id,
            report_number as reportNumber,
            sample_name as sampleName,
            testing_company as testingCompany,
            testing_date as testingDate,
            rich_text as richText,
            create_time as createTime
        FROM oa_eia_monitor
        WHERE
            testing_date = #{testingDate}
        ORDER BY
	        create_time DESC
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaEiaMonitor">
        SELECT
            id as id,
            report_number as reportNumber,
            sample_name as sampleName,
            testing_company as testingCompany,
            testing_date as testingDate,
            rich_text as richText,
            create_time as createTime
        FROM oa_eia_monitor
        ORDER BY
	        create_time DESC
    </select>
</mapper>