<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaFinanceConfirmMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaFinanceConfirm">
        SELECT
            id,
            numbering,
            confirm,
            amount,
            `name`,
            rich_text as richText,
            create_date as createDate
        FROM oa_finance_confirm
        WHERE
            `name` LIKE "%"#{name}"%"
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaFinanceConfirm">
        SELECT
            id,
            numbering,
            confirm,
            amount,
            `name`,
            rich_text as richText,
            create_date as createDate
        FROM oa_finance_confirm
        order by
        create_date desc
    </select>

    <delete id="batchDelete" parameterType="java.lang.String">
        delete from `oa_finance_confirm` where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>