<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaMaterialPurchaseMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaMaterialPurchase">
        SELECT
            id,
            numbering,
            `name`,
            supplier,
            material,
            `number`,
            unit_price as unitPrice,
            remarks,
            signing_date AS signingDate,
            rich_text as richText,
            create_date as createDate
        FROM oa_material_purchase
        WHERE
            `name` LIKE "%"#{name}"%"
        order by
        create_date desc
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaMaterialPurchase">
        SELECT
            id,
            numbering,
            `name`,
            supplier,
            material,
            `number`,
            unit_price as unitPrice,
            remarks,
            signing_date AS signingDate,
            rich_text as richText,
            create_date as createDate
        FROM oa_material_purchase
        order by
        create_date desc
    </select>
</mapper>