<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaMaterialOtherMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaMaterialOther">
        SELECT
            id,
            numbering,
            `name`,
            summary,
            `date`,
            rich_text as richText,
            create_time as createTime
        FROM oa_material_other
        WHERE
            `name` LIKE "%"#{name}"%"
        order by
        create_time desc
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaMaterialOther">
        SELECT
            id,
            numbering,
            `name`,
            summary,
            `date`,
            rich_text as richText,
            create_time as createTime
        FROM oa_material_other
        order by
        create_time desc
    </select>
</mapper>