<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaOperateLawsuitMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaOperateLawsuit">
        SELECT
            id,
            numbering,
            customer_name as customerName,
            project_name as projectName,
            lawsuit_amount as lawsuitAmount,
            state,
            rich_text as richText,
            create_date as createDate
        FROM oa_operate_lawsuit
        WHERE
            project_name LIKE "%"#{projectName}"%"
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaOperateLawsuit">
        SELECT
            id,
            numbering,
            customer_name as customerName,
            project_name as projectName,
            lawsuit_amount as lawsuitAmount,
            state,
            rich_text as richText,
            create_date as createDate
        FROM oa_operate_lawsuit
        order by
        create_date desc
    </select>

    <delete id="batchDelete" parameterType="java.lang.String">
        delete from `oa_operate_lawsuit` where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>