<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaPersonalWagesMapper">
    <resultMap id="BaseResultMap" type="com.jiaoke.oa.bean.OaPersonalWages">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="serial_number" jdbcType="INTEGER" property="serialNumber"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="position_salary" jdbcType="VARCHAR" property="positionSalary"/>
        <result column="technical_title_allowance" jdbcType="VARCHAR" property="technicalTitleAllowance"/>
        <result column="special_work_allowance" jdbcType="VARCHAR" property="specialWorkAllowance"/>
        <result column="reissue_wages" jdbcType="VARCHAR" property="reissueWages"/>
        <result column="bonus" jdbcType="VARCHAR" property="bonus"/>
        <result column="monthly_award" jdbcType="VARCHAR" property="monthlyAward"/>
        <result column="subsidy" jdbcType="VARCHAR" property="subsidy"/>
        <result column="megathermal_allowance" jdbcType="VARCHAR" property="megathermalAllowance"/>
        <result column="overtime_pay" jdbcType="VARCHAR" property="overtimePay"/>
        <result column="withholding_wages" jdbcType="VARCHAR" property="withholdingWages"/>
        <result column="wages_payable" jdbcType="VARCHAR" property="wagesPayable"/>
        <result column="endowment_insurance" jdbcType="VARCHAR" property="endowmentInsurance"/>
        <result column="unemployment_insurance" jdbcType="VARCHAR" property="unemploymentInsurance"/>
        <result column="medical_insurance" jdbcType="VARCHAR" property="medicalInsurance"/>
        <result column="large_medical_insurance" jdbcType="VARCHAR" property="largeMedicalInsurance"/>
        <result column="accumulation_fund" jdbcType="VARCHAR" property="accumulationFund"/>
        <result column="deductible_expenses" jdbcType="VARCHAR" property="deductibleExpenses"/>
        <result column="fee_after_deduction" jdbcType="VARCHAR" property="feeAfterDeduction"/>
        <result column="individual_income_tax" jdbcType="VARCHAR" property="individualIncomeTax"/>
        <result column="membership_fee" jdbcType="VARCHAR" property="membershipFee"/>
        <result column="actual_amount" jdbcType="VARCHAR" property="actualAmount"/>
        <result column="settlement_date" jdbcType="VARCHAR" property="settlementDate"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="wage_statistics_id" jdbcType="INTEGER" property="wageStatisticsId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, serial_number, department, `name`, `position`, position_salary, technical_title_allowance, special_work_allowance,
    reissue_wages, bonus, monthly_award, subsidy, megathermal_allowance, overtime_pay, 
    withholding_wages, wages_payable, endowment_insurance, unemployment_insurance, medical_insurance, 
    large_medical_insurance, accumulation_fund, deductible_expenses, fee_after_deduction, 
    individual_income_tax, membership_fee, actual_amount, settlement_date, `state`, wage_statistics_id
  </sql>

    <insert id="insertMultiTerm" parameterType="java.util.Map">
        insert into oa_personal_wages (serial_number, department, `name`,
        `position`, position_salary, technical_title_allowance,
        special_work_allowance, reissue_wages, bonus,
        monthly_award, subsidy, megathermal_allowance,
        overtime_pay, withholding_wages, wages_payable,
        endowment_insurance, unemployment_insurance,
        medical_insurance, large_medical_insurance,
        accumulation_fund, deductible_expenses, fee_after_deduction,
        individual_income_tax, membership_fee, actual_amount,
        settlement_date, wage_statistics_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            <foreach collection="item" item="item2" index="index2" separator=",">
                #{item2}
            </foreach>
            ,#{wageStatisticsId,jdbcType=INTEGER})
        </foreach>

    </insert>

    <select id="getGrossActualAmount" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
        SELECT
            SUM( CAST( actual_amount AS DECIMAL ( 16, 2 ) ) )
        FROM
	        `oa_personal_wages`
	    WHERE
	        wage_statistics_id = #{wageStatisticsId,jdbcType=INTEGER}
    </select>

    <select id="getPersonalWagesByNickName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from oa_personal_wages
        where `name` = #{nickName,jdbcType=VARCHAR}
        AND state = 1
        ORDER BY
            settlement_date DESC
    </select>

    <delete id="deleteByWageStatisticsId" parameterType="java.lang.Integer">
        delete from oa_personal_wages where wage_statistics_id = #{wageStatisticsId}
    </delete>

    <select id="selectRegularStaffByWageStatisticsId" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from oa_personal_wages
        where wage_statistics_id = #{wageStatisticsId}
    </select>

    <update id="updateStateByWageStatisticsId" parameterType="java.lang.Integer">
        update oa_personal_wages set state = #{state} where wage_statistics_id = #{wageStatisticsId}
    </update>

    <select id="selectRegularStaffById" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oa_personal_wages
        where id = #{id}
    </select>
</mapper>
