<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaProductionEnergyMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaProductionEnergy">
        SELECT
            id,
            `year`,
            yield,
            output_value as outputValue,
            production_consume as productionConsume,
            product_consume as productConsume,
            gas_consume as gasConsume,
            power_consumption as powerConsumption,
            carbon_emission as carbonEmission,
            rich_text as richText,
            create_date as createDate
        FROM oa_production_energy
        WHERE
            `year` LIKE "%"#{yearStr}"%"
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaProductionEnergy">
        SELECT
            id,
            `year`,
            yield,
            output_value as outputValue,
            production_consume as productionConsume,
            product_consume as productConsume,
            gas_consume as gasConsume,
            power_consumption as powerConsumption,
            carbon_emission as carbonEmission,
            rich_text as richText,
            create_date as createDate
        FROM oa_production_energy
        order by
        create_date desc
    </select>

    <delete id="batchDelete" parameterType="java.lang.String">
        delete from `oa_production_energy` where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>