<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaProductionEnvironmentMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaProductionEnvironment">
        SELECT
            id,
            numbering,
            `year`,
            project_name as projectName,
            construction_unit as constructionUnit,
            control_measures as controlMeasures,
            `number`,
            `type`,
            retrofit_cost as retrofitCost,
            corresponding_contract as correspondingContract,
            contaminants,
            storage_location as storageLocation,
            rich_text as richText,
            create_date as createDate
        FROM oa_production_environment
        WHERE
            project_name LIKE "%"#{projectName}"%"
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaProductionEnvironment">
        SELECT
            id,
            numbering,
            `year`,
            project_name as projectName,
            construction_unit as constructionUnit,
            control_measures as controlMeasures,
            `number`,
            `type`,
            retrofit_cost as retrofitCost,
            corresponding_contract as correspondingContract,
            contaminants,
            storage_location as storageLocation,
            rich_text as richText,
            create_date as createDate
        FROM oa_production_environment
        order by
        create_date desc
    </select>
</mapper>