<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.OaProductionOtherMapper">

    <select id="searchFilter" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.OaProductionOther">
        SELECT
            id,
            numbering,
            `name`,
            summary,
            `date`,
            rich_text as richText,
            create_time as createTime
        FROM oa_production_other
        WHERE
            `name` LIKE "%"#{name}"%"
        order by
        create_time desc
    </select>

    <select id="selectAllData" resultType="com.jiaoke.oa.bean.OaProductionOther">
        SELECT
            id,
            numbering,
            `name`,
            summary,
            `date`,
            rich_text as richText,
            create_time as createTime
        FROM oa_production_other
        order by
        create_time desc
    </select>

    <delete id="batchDelete" parameterType="java.lang.String">
        delete from `oa_production_other` where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>