<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityGradingManagerDao">
    <select id="selectGradingModelList" resultType="java.util.Map">
        SELECT
               QPGM.id,
               QPG.crew1_id AS crew1Id,
               QPG.crew2_id AS crew2Id,
               QPGM.grading_name,
               DATE_FORMAT(QPGM.create_time, '%Y-%m-%d') AS create_time,
               QPGM.grading_remaker,
               QPGM.up_user
        FROM
             quality_proportioning_grading_model AS QPGM
                 INNER JOIN quality_proportioning_grading AS QPG ON QPGM.id = QPG.model_id
        where YEAR(QPGM.create_time) = YEAR(NOW())
        GROUP BY QPG.crew1_id
        ORDER BY QPG.crew1_id
    </select>

    <delete id="delectGrading" >
        DELETE  t1.*,t2.*
        FROM
        quality_proportioning_grading_model AS t1
        INNER JOIN quality_proportioning_grading AS t2 ON t1.id = t2.model_id
        WHERE t2.model_id in
        <foreach collection="idArray" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="selectGradingByModelId" resultType="java.util.Map">
        SELECT
               t1.id AS grading_model_id,
               t1.grading_name,
               t1.create_time,
               t1.grading_remaker,
               t1.up_user,
               t2.*
        FROM
             quality_proportioning_grading_model AS t1
                 INNER JOIN quality_proportioning_grading AS t2 ON t1.id = t2.model_id
        WHERE
                t1.id = #{id}
    </select>
</mapper>