<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityWarningDao">

    <insert id="insertQualityWarningCrew" parameterType="java.util.Map"  keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        <selectKey resultType="String" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into quality_warning_promessage_crew(produce_date,
                                                            produce_time,
                                                            produce_ratio_id,
                                                            produce_car_num,
                                                            produce_disc_num,
                                                            produce_user,
                                                            produce_custom_num,
                                                            produce_crewNum)
                  values (#{produce_date},
                            #{produce_time},
                            #{produce_ratio_id},
                            #{produce_car_num},
                            #{produce_disc_num},
                            #{produce_user},
                            #{produce_custom_num},
                            #{produce_crewNum})
    </insert>

    <select id="selectRatioTemplateByCrew1MoudelId" resultType="com.jiaoke.quality.bean.QualityRatioTemplate" statementType="STATEMENT" >

        select id,
               pro_name as proName,
               repertory_one as repertoryOne,
               repertory_two as repertoryTwo,
               repertory_three as repertoryThree,
               repertory_four as repertoryFour,
               repertory_five as repertoryFive,
               repertory_six as repertorySix,
               breeze as breeze,
               ratio_stone as ratioStone,
               ratio_regenerate1 as ratioRegenerate1,
               ratio_regenerate2 as ratioRegenerate2,
               ratio_additive as ratioAdditive,
               regenerate as regenerate,
               additive as additive,
               temperature_asphalt as temperatureAsphalt,
               temperature_aggregate as temperatureAggregate,
               temperature_mixture as temperatureMixture,
               temperature_milling as temperatureMilling
        from quality_proportioning_message
        where ${columeName} = ${crewMoudelId}

    </select>
    
    <insert id="insertQualityWarningData" parameterType="java.util.List" useGeneratedKeys="false" >

            insert into quality_warning_data
            (crew_id,material_name,actual_ratio,moudle_ratio,deviation_ratio,warning_level)
            values
            <foreach collection="warningDataList" item="item" index="index" separator=",">
                (
                #{item.crewId},
                #{item.materialName},
                #{item.actualRatio},
                #{item.moudleRatio},
                #{item.deviationRatio},
                #{item.warningLevel}
                )
            </foreach>
    </insert>

</mapper>