<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityAuxiliaryAnalysisDao">

    <select id="selelectWarningLiveDataToList" resultType="java.util.Map">
        SELECT
               t1.id,t1.*
        FROM
             quality_warning_promessage_crew t1
                 JOIN quality_warning_data t2 ON t1.id = t2.crew_id
        WHERE
                warning_level > #{warningLive}
        GROUP BY t1.id
        ORDER BY
                 t1.id DESC
        LIMIT #{pageFirstNum},#{eachPageDataNum}
    </select>

    <select id="selelectCountWarningLive" resultType="int">
        SELECT COUNT(*) FROM
                             (SELECT
                                     t1.id
                              FROM
                                   quality_warning_promessage_crew t1
                                       JOIN quality_warning_data t2 ON t1.id = t2.crew_id
                              WHERE
                                      warning_level > #{warningLive}
                              GROUP BY t1.id) as b1
    </select>
    <select id="selectWaringData" resultType="java.util.Map">
        SELECT * FROM quality_warning_data WHERE crew_id in
       <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
       </foreach>
    </select>
</mapper>