<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityDynamicDao">

    <select id="getLastDayToChars" resultType="java.util.Map">
        SELECT
               produce_disc_num,
               material_asphalt,
               material_total,
               produce_proportioning_num
        FROM
             quality_monitoring_realtime_data1
        WHERE
                DATE_SUB(CURDATE(), INTERVAL 2 DAY) &lt;= date(produce_date);
    </select>

    <select id="getLastWeekToChars" resultType="java.util.Map">
        SELECT
               produce_disc_num,
               material_asphalt,
               material_total,
               produce_proportioning_num
        FROM
             quality_monitoring_realtime_data1
        WHERE
                DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(produce_date);
    </select>

    <select id="getAggregateRatioByMoudelId" resultType="java.util.Map">

        SELECT
        QPM.pro_name AS pro_name,
        QPM.${crew}_modele_id,
        QPM.${ratioName}
        FROM
        quality_proportioning_message AS QPM
        INNER JOIN quality_proportioning_model AS QPMD
        ON QPM.id = QPMD.message_id
        WHERE
        ${crew}_modele_id in
        <foreach collection="moudelId"  separator="," open="(" close=")" item="item">
            ${item}
        </foreach>
        AND YEAR(QPMD.create_time) = YEAR(&apos;${strDate}&apos;)
    </select>

    <select id="selectRatioListByDate" resultType="java.util.Map">

        SELECT
               QPM.pro_name,
               QPM.${crewNum}_modele_id as modele_id
        FROM
             quality_proportioning_message AS QPM
                 INNER JOIN quality_proportioning_model AS QPMD
                     ON QPM.id = QPMD.message_id
        WHERE
                QPM.${crewNum}_modele_id IN
                (SELECT
                        produce_proportioning_num
                 FROM
                      quality_monitoring_realtime_${crew}
                 WHERE produce_date
                               BETWEEN  &apos;${startDate}&apos;
                               AND &apos;${endDate}&apos;
                 GROUP BY
                          produce_proportioning_num
                 HAVING count(Id) > 20)
          AND YEAR(QPMD.create_time) = YEAR(&apos;${startDate}&apos;)
    </select>

    <select id="selectProductByMaterialAndDate" resultType="java.util.Map">
        SELECT
                *
        FROM
             quality_monitoring_realtime_${crew}
        WHERE
                produce_date BETWEEN &apos;${startDate}&apos;
                        AND &apos;${endDate}&apos;
          AND produce_proportioning_num = ${ratioNum}
    </select>

    <select id="getLastWeekByRationAndCrew" resultType="java.util.Map">
        SELECT
               produce_disc_num,
               material_asphalt,
               material_total,
               produce_proportioning_num
        FROM
             quality_monitoring_realtime_${crew}
        WHERE
                DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(produce_date)
          AND produce_proportioning_num = ${ratioNum}
    </select>
</mapper>