<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityIndexDao">

    <select id="getLastWeekCrewData"  resultType="java.util.HashMap" >

        SELECT 'crew1' as crewNum ,DAYNAME(produce_date) AS proDate,SUM(material_total) DIV 100 AS prototal,produce_date
        FROM quality_monitoring_realtime_data1
        WHERE YEARWEEK(date_format(produce_date,'%Y-%m-%d'), 1) = YEARWEEK(now(), 1)-1
        group by produce_date
        UNION ALL
        SELECT 'crew2' as crewNum,DAYNAME(produce_date) AS proDate ,SUM(material_total) DIV 100 AS prototal,produce_date
        FROM quality_monitoring_realtime_data2
        WHERE YEARWEEK(date_format(produce_date,'%Y-%m-%d'), 1) = YEARWEEK(now(), 1)-1
        group by produce_date
        order by crewNum,produce_date

    </select>

    <select id="getLastProductData" resultType="java.util.HashMap">
        (
        SELECT
               Id,
               produce_disc_num,
               material_total,
               DATE_FORMAT(produce_date,'%Y-%c-%d') as produce_date,
               produce_time,
               produce_custom_num,
               '机组一' AS crew1
        FROM
             quality_monitoring_realtime_data1
        ORDER BY
                 id DESC
        LIMIT 8
        )
        UNION ALL
                (
                SELECT
                       Id,
                       produce_disc_num,
                       material_total,
                       produce_date,
                       produce_time,
                       produce_custom_num,
                       '机组二' AS crew2
                FROM
                     quality_monitoring_realtime_data2
                ORDER BY
                         id DESC
                LIMIT 8
                )
    </select>

    <select id="selectLastYearEverMonthTotalToEchart" resultType="java.util.HashMap">
        (SELECT
                'crew1' AS crew,
                MONTH(produce_date) as month_date,
                DAY(produce_date) as day_date,
                SUM(material_total)/1000 AS total
         FROM
              `quality_monitoring_realtime_data1`
         WHERE
                 YEAR(produce_date)	= YEAR(NOW())
         GROUP BY produce_date
         ORDER BY produce_date)
        UNION ALL
                (SELECT
                        'crew2' AS crew,
                        MONTH(produce_date) as month_date,
                        DAY(produce_date) as day_date,
                        SUM(material_total)/1000 AS total
                 FROM
                      `quality_monitoring_realtime_data2`
                 WHERE
                         YEAR(produce_date)	= YEAR(NOW())
                 GROUP BY produce_date
                 ORDER BY produce_date)
    </select>

    <select id="selectLastTenWarning" resultType="java.util.HashMap">

    </select>
    <select id="selectLastSevenDayTemperaturesDataToChart" resultType="java.util.Map">
        SELECT CONCAT(produce_date,' ',produce_time) AS proTime, produce_disc_num, temperature_aggregate,temperature_asphalt,temperature_mixture
        FROM quality_monitoring_realtime_data1
        WHERE YEARWEEK(date_format(produce_date,'%Y-%m-%d'), 1) = YEARWEEK(now(), 1)-1
        UNION ALL
        SELECT CONCAT(produce_date,' ',produce_time) AS proTime, produce_disc_num, temperature_aggregate,temperature_asphalt,temperature_mixture
        FROM quality_monitoring_realtime_data2
        WHERE YEARWEEK(date_format(produce_date,'%Y-%m-%d'), 1) = YEARWEEK(now(), 1)-1
    </select>
    <select id="selectTemperaturesDataByConditions" resultType="java.util.Map">
        SELECT CONCAT(produce_date,' ',produce_time) AS proTime, produce_disc_num, temperature_aggregate,temperature_asphalt,temperature_mixture
        FROM quality_monitoring_realtime_${crew}
        WHERE YEARWEEK(date_format(produce_date,'%Y-%m-%d'), 1) = YEARWEEK(now(), 1)-1
          AND produce_proportioning_num = ${ratioNum}
    </select>
</mapper>