<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityRealTimeWarningDao">

    <select id="selectLastWarningData" resultType="java.util.Map">
        SELECT
               t1.material_name,
               t1.actual_ratio,
               t1.moudle_ratio,
               t1.deviation_ratio,
               t1.warning_level,
               t2.pro_name,
               DATE_FORMAT(t2.produce_date, '%Y-%m-%d') AS produce_date,
               DATE_FORMAT(t2.produce_time, '%H:%i:%s') AS produce_time,
               t2.produce_ratio_id,
               t2.produce_car_num,
               t2.produce_disc_num,
               t2.produce_user,
               t2.produce_custom_num,
               t2.produce_crewNum
        FROM
             quality_warning_data AS t1
                 INNER JOIN (
                            (
                            SELECT
                                   QC.*,
                                   QM.pro_name
                            FROM
                                 quality_warning_promessage_crew AS QC
                                     INNER JOIN
                                         quality_proportioning_message AS QM
                                         ON QC.produce_ratio_id = QM.crew1_modele_id
                            WHERE
                                    QC.produce_crewNum = 1
                            ORDER BY
                                     QC.id DESC
                            LIMIT 1
                            )
                            UNION ALL
                            (
                            SELECT
                                   QC.*,
                                   QM.pro_name
                            FROM
                                 quality_warning_promessage_crew AS QC
                                     INNER JOIN
                                         quality_proportioning_message AS QM
                                         ON QC.produce_ratio_id = QM.crew2_modele_id
                            WHERE
                                    QC.produce_crewNum = 2
                            ORDER BY
                                     QC.id DESC
                            LIMIT 1
                            )
                            ) AS t2
                     ON t1.crew_id = t2.id
    </select>

    <select id="selectWarningEcharsData" resultType="java.util.Map">
        SELECT
               t1.material_name,
               t1.actual_ratio,
               t1.moudle_ratio,
               t1.deviation_ratio,
               t2.produce_crewNum
        FROM
             quality_warning_data AS t1
                 INNER JOIN (
                            (
                            SELECT
                                    *
                            FROM
                                 quality_warning_promessage_crew
                            WHERE
                                    produce_crewNum = 1
                            ORDER BY
                                     id DESC
                            LIMIT 1
                            )
                            UNION ALL
                            (
                            SELECT
                                    *
                            FROM
                                 quality_warning_promessage_crew
                            WHERE
                                    produce_crewNum = 2
                            ORDER BY
                                     id DESC
                            LIMIT 1
                            )
                            ) AS t2 ON t1.crew_id = t2.id
    </select>

</mapper>