<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityWarningDisposeDao">
    <select id="getTwoCrewPro" resultType="java.util.Map">
        SELECT
               DATE_FORMAT(produce_date,'%Y-%m-%d') AS produce_date,
               produce_crewNum,
               produce_ratio_id,
               pro_name,
               core_warning_level,
               count(*) AS total
        FROM
             quality_warning_promessage_crew
        WHERE
                TO_DAYS(produce_date) = TO_DAYS(NOW())
        GROUP BY
                 produce_date,
                 produce_crewNum,
                 produce_ratio_id,
                 core_warning_level
    </select>
    <select id="selectProDataByRation" resultType="java.util.Map">

        SELECT
               QWPC.id,
               CONCAT(
                   QWPC.produce_date,
                   " ",
                   QWPC.produce_time
                       ) AS proDate,
               QWPC.produce_ratio_id,
               QWPC.produce_car_num,
               QWPC.project_name,
               QWPC.produce_disc_num,
               QWPC.produce_crewNum,
               QWPC.warning_reason,
               QWPC.pro_name,
               QWD.material_name,
               QWD.actual_ratio,
               QWD.moudle_ratio,
               QWD.deviation_ratio,
               QWD.warning_level
        FROM
             quality_warning_promessage_crew AS QWPC
                 INNER JOIN quality_warning_data AS QWD ON QWPC.id = QWD.crew_id
        WHERE
                QWPC.produce_date = #{proDate}
          AND QWPC.produce_ratio_id = #{rationNum}
          AND QWPC.produce_crewNum = #{crewNum}
          AND QWPC.core_warning_level > 2
    </select>
    <insert id="insertProductWarningMsg" useGeneratedKeys="true" keyProperty="id">
        UPDATE quality_warning_promessage_crew
        SET warning_reason = #{proMsg},
            warning_up_user =  #{upUser},
            warning_up_time =  #{upTime}
        WHERE id in
            <foreach collection="idList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </insert>
</mapper>