<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityDataSummaryDao">

    <select id="selectThreeDayData" resultType="java.util.Map">

        (SELECT
        'data1' AS crewNums,
        date_format(QMRD.produce_date,'%Y-%m-%d') as  produce_date,
        date_format(QMRD.produce_time,'%H:%i:%s') as produce_time,
        QMRD.produce_disc_num,
        QMRD.produce_proportioning_num,
        QPM.pro_name,
        QMRD.produce_car_num,
        QMRD.produce_custom_num,
        QMRD.material_aggregate_6,
        QMRD.material_aggregate_5,
        QMRD.material_aggregate_4,
        QMRD.material_aggregate_3,
        QMRD.material_aggregate_2,
        QMRD.material_aggregate_1,
        QMRD.material_stone_1,
        QMRD.material_stone_2,
        QMRD.material_asphalt,
        QMRD.material_regenerate,
        QMRD.material_additive,
        QMRD.material_total,
        QMRD.temperature_warehouse_1,
        QMRD.temperature_mixture,
        QMRD.temperature_duster,
        QMRD.temperature_asphalt,
        QMRD.temperature_aggregate
        FROM
        quality_monitoring_realtime_data1 AS QMRD
        INNER JOIN
        quality_proportioning_message AS QPM
        ON QMRD.produce_proportioning_num = QPM.crew1_modele_id
        WHERE
        DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(QMRD.produce_date)
        order by QMRD.produce_date,QMRD.produce_time)
        Union ALL
        (SELECT
        'data2' AS crewNums,
        date_format(QMRD.produce_date,'%Y-%m-%d') as  produce_date,
        date_format(QMRD.produce_time,'%H:%I:%S') as produce_time,
        QMRD.produce_disc_num,
        QMRD.produce_proportioning_num,
        QPM.pro_name,
        QMRD.produce_car_num,
        QMRD.produce_custom_num,
        QMRD.material_aggregate_6,
        QMRD.material_aggregate_5,
        QMRD.material_aggregate_4,
        QMRD.material_aggregate_3,
        QMRD.material_aggregate_2,
        QMRD.material_aggregate_1,
        QMRD.material_stone_1,
        QMRD.material_stone_2,
        QMRD.material_asphalt,
        QMRD.material_regenerate,
        QMRD.material_additive,
        QMRD.material_total,
        QMRD.temperature_warehouse_1,
        QMRD.temperature_mixture,
        QMRD.temperature_duster,
        QMRD.temperature_asphalt,
        QMRD.temperature_aggregate
        FROM
        quality_monitoring_realtime_data2 AS QMRD
        INNER JOIN
        quality_proportioning_message AS QPM
        ON QMRD.produce_proportioning_num = QPM.crew2_modele_id
        WHERE
        DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(QMRD.produce_date)
        order by QMRD.produce_date,QMRD.produce_time)
    </select>

    <select id="selectRatioListByDateTimeAndCrew" resultType="java.util.Map">
        SELECT
               QM.pro_name,
               QD.produce_proportioning_num AS modele_id
        FROM
             quality_monitoring_realtime_${crew} AS QD
                 INNER JOIN
                     quality_proportioning_message AS QM
                     <if test="crew == 'data1'.toString()">
                         ON
                         QD.produce_proportioning_num = QM.crew1_modele_id
                     </if>
        <if test="crew == 'data2'.toString()">
            ON
            QD.produce_proportioning_num = QM.crew2_modele_id
        </if>
        WHERE
        CONCAT(
        QD.produce_date,
        ' ',
        QD.produce_time
        ) BETWEEN &apos;${startDate}&apos;
        AND &apos;${endDate}&apos;
        GROUP BY
        QM.pro_name,modele_id;
    </select>

    <select id="selectPromessageByRaionModel" resultType="java.util.Map">
        SELECT
               &apos;${crew}&apos; as crewNums,
              date_format(QMRD.produce_date,'%Y-%m-%d') as  produce_date,
               date_format(QMRD.produce_time,'%H:%i:%s') as produce_time,
               QMRD.produce_disc_num,
               QPM.pro_name,
               QMRD.produce_proportioning_num,
               QMRD.produce_car_num,
               QMRD.produce_custom_num,
               QMRD.material_aggregate_6,
               QMRD.material_aggregate_5,
               QMRD.material_aggregate_4,
               QMRD.material_aggregate_3,
               QMRD.material_aggregate_2,
               QMRD.material_aggregate_1,
               QMRD.material_stone_1,
               QMRD.material_stone_2,
               QMRD.material_asphalt,
               QMRD.material_regenerate,
               QMRD.material_additive,
               QMRD.material_total,
               QMRD.temperature_warehouse_1,
               QMRD.temperature_mixture,
               QMRD.temperature_duster,
               QMRD.temperature_asphalt,
               QMRD.temperature_aggregate
        FROM
             quality_monitoring_realtime_${crew} AS QMRD
                 INNER JOIN
                     quality_proportioning_message AS QPM

              <choose>
                  <when test="crew=='data1'.toString()">
                      ON QMRD.produce_proportioning_num = QPM.crew1_modele_id
                  </when>
                  <otherwise>
                      ON QMRD.produce_proportioning_num = QPM.crew2_modele_id
                  </otherwise>
              </choose>
        WHERE
          QMRD.produce_proportioning_num = ${rationId}
          AND
                CONCAT(
                  QMRD.produce_date,
                    ' ',
                  QMRD.produce_time
                        ) BETWEEN &apos;${startDate}&apos;
                        AND &apos;${endDate}&apos;
    </select>
    <select id="selectRaionModelById" resultType="java.util.Map">
        SELECT
                *
        FROM
             quality_proportioning_message
        WHERE
                ${crewNum}_modele_id = ${rationNum}
    </select>
    <select id="selectAllCriticalWarning" resultType="java.util.Map">

        SELECT
               DATE_FORMAT(QWPC.produce_date,'%Y-%m-%d') AS produce_date,
               DATE_FORMAT(QWPC.produce_time,'%H:%i:%s') AS produce_time,
               QWPC.produce_ratio_id,
               QWPC.produce_car_num,
               QWPC.produce_disc_num,
               QWPC.produce_crewNum,
               QWD.*,
               (SELECT QPM1.pro_name FROM quality_warning_promessage_crew AS QWPC1 INNER JOIN quality_proportioning_message AS QPM1 ON QWPC1.produce_ratio_id = QPM1.crew1_modele_id WHERE QWPC1.produce_ratio_id = QWPC.produce_ratio_id  LIMIT 1 ) AS crew1RatioName,
               (SELECT QPM1.pro_name FROM quality_warning_promessage_crew AS QWPC1 INNER JOIN quality_proportioning_message AS QPM1 ON QWPC1.produce_ratio_id = QPM1.crew2_modele_id WHERE QWPC1.produce_ratio_id = QWPC.produce_ratio_id  LIMIT 1 ) AS crew2RatioName
        FROM
             `quality_critical_warning` AS QCW
                 INNER JOIN quality_warning_promessage_crew AS QWPC ON QCW.warning_crew_id = QWPC.id
                 INNER JOIN quality_warning_data AS QWD ON QWPC.id = QWD.crew_id
        WHERE
                produce_date >= DATE_SUB(NOW(),INTERVAL 1 DAY)

    </select>
    <select id="selectProductMessageById" resultType="java.util.Map">
        SELECT
               Id,
               produce_date,
               produce_time,
               produce_disc_num,
               produce_proportioning_num,
               produce_car_num,
               produce_custom_num,
               material_aggregate_6,
               material_aggregate_5,
               material_aggregate_4,
               material_aggregate_3,
               material_aggregate_2,
               material_aggregate_1,
               material_stone_1,
               material_stone_2,
               material_asphalt,
               material_regenerate,
               material_additive,
               material_total,
               temperature_warehouse_1,
               temperature_mixture,
               temperature_duster,
               temperature_asphalt,
               temperature_aggregate
        FROM
             quality_monitoring_realtime_${crewStr}
        WHERE
                produce_date = &apos;${proDate}&apos; AND produce_disc_num = &apos;${produceDisc}&apos;
    </select>
    <select id="selectProduceByDateAndDiscNum" resultType="java.util.Map">
        SELECT
               T1.*
        FROM
             quality_warning_data AS T1
                 INNER JOIN (
                            SELECT
                                    *
                            FROM
                                 quality_warning_promessage_crew
                            WHERE
                                    produce_date = DATE #{date}
                              AND produce_disc_num = #{discNum}
                              AND produce_crewNum = #{crewNum}
                            ) AS T2 ON T1.crew_id = T2.id
    </select>
    <select id="selectRationById" resultType="com.jiaoke.quality.bean.QualityRatioTemplate" >
        select
               pro_name as proName,
               repertory_one as repertoryOne,
               repertory_two as repertoryTwo,
               repertory_three as repertoryThree,
               repertory_four as repertoryFour,
               repertory_five as repertoryFive,
               repertory_six as repertorySix,
               breeze as breeze,
               ratio_stone as ratioStone,
               ratio_regenerate1 as ratioRegenerate1,
               ratio_regenerate2 as ratioRegenerate2,
               ratio_additive as ratioAdditive,
               regenerate as regenerate,
               additive as additive,
               temperature_asphalt as temperatureAsphalt,
               temperature_aggregate as temperatureAggregate,
               temperature_mixture as temperatureMixture,
               temperature_milling as temperatureMilling,
               temperature_asphalt_up as temperatureAsphaltUp,
               temperature_aggregate_up as temperatureAggregateUp,
               temperature_mixture_up as temperatureMixtureUp,
               temperature_milling_up as temperatureMillingUp
        from quality_proportioning_message
        <if test="crewNum == 1">
            where crew1_modele_id = #{ratioNum}
        </if>
        <if test="crewNum == 2">
            where crew2_modele_id = #{ratioNum}
        </if>

    </select>
    <select id="mobileGetRatioListByDate" resultType="java.util.Map">
        SELECT
        QM.pro_name,
        QD.produce_proportioning_num AS modele_id
        FROM
        quality_monitoring_realtime_${crew} AS QD
        INNER JOIN
        quality_proportioning_message AS QM
        <if test="crew == 'data1'.toString()">
            ON
            QD.produce_proportioning_num = QM.crew1_modele_id
        </if>
        <if test="crew == 'data2'.toString()">
            ON
            QD.produce_proportioning_num = QM.crew2_modele_id
        </if>
        WHERE
          QD.produce_date = &apos;${startDate}&apos;
        GROUP BY
        QM.pro_name,modele_id;
    </select>

    <select id="selectMobilePromessageByRaionModel" resultType="java.util.Map">
        SELECT
        QMRD.id,
        &apos;${crew}&apos; as crewNums,
        date_format(QMRD.produce_date,'%Y-%m-%d') as  produce_date,
        date_format(QMRD.produce_time,'%H:%i:%s') as produce_time,
        QMRD.produce_disc_num,
        QPM.pro_name,
        QMRD.produce_proportioning_num,
        QMRD.produce_car_num,
        QMRD.produce_custom_num,
        QMRD.material_aggregate_6,
        QMRD.material_aggregate_5,
        QMRD.material_aggregate_4,
        QMRD.material_aggregate_3,
        QMRD.material_aggregate_2,
        QMRD.material_aggregate_1,
        QMRD.material_stone_1,
        QMRD.material_stone_2,
        QMRD.material_asphalt,
        QMRD.material_regenerate,
        QMRD.material_additive,
        QMRD.material_total,
        QMRD.temperature_warehouse_1,
        QMRD.temperature_mixture,
        QMRD.temperature_duster,
        QMRD.temperature_asphalt,
        QMRD.temperature_aggregate
        FROM
        quality_monitoring_realtime_${crew} AS QMRD
        INNER JOIN
        quality_proportioning_message AS QPM

        <choose>
            <when test="crew=='data1'.toString()">
                ON QMRD.produce_proportioning_num = QPM.crew1_modele_id
            </when>
            <otherwise>
                ON QMRD.produce_proportioning_num = QPM.crew2_modele_id
            </otherwise>
        </choose>

        <choose>
            <when test="rationId=='select'.toString()">
                WHERE
                QMRD.produce_date = &apos;${startDate}&apos;
            </when>
            <otherwise>
                WHERE
                QMRD.produce_proportioning_num = ${rationId}
                AND
                QMRD.produce_date = &apos;${startDate}&apos;
            </otherwise>
        </choose>
    </select>

    <select id="selectEchartsDataById" resultType="java.util.Map">
      <choose>
          <when test="crew == 'crew1'.toString() ">
              SELECT
              t1.*,
              'crew1' AS 'crewNum',
              t2.produce_proportioning_num,
              t2.material_aggregate_1,
              t2.material_aggregate_2,
              t2.material_aggregate_3,
              t2.material_aggregate_4,
              t2.material_aggregate_5,
              t2.material_aggregate_6,
              t2.material_stone_1,
              t2.material_stone_2,
              t2.material_asphalt,
              t2.material_regenerate,
              t2.material_additive,
              t2.temperature_warehouse_1 as tem_warehouse_1,
              t2.temperature_mixture as tem_mixture,
              t2.temperature_duster as tem_duster,
              t2.temperature_asphalt as tem_asphalt ,
              t2.temperature_aggregate as tem_aggregate,
              t2.material_total
              FROM
              quality_proportioning_message AS t1
              INNER JOIN (
              SELECT
              produce_proportioning_num,
              material_aggregate_1,
              material_aggregate_2,
              material_aggregate_3,
              material_aggregate_4,
              material_aggregate_5,
              material_aggregate_6,
              material_stone_1,
              material_stone_2,
              material_asphalt,
              material_regenerate,
              material_additive,
              temperature_warehouse_1,
              temperature_mixture,
              temperature_duster,
              temperature_asphalt,
              temperature_aggregate,
              material_total
              FROM
              quality_monitoring_realtime_data1
              WHERE
              Id = #{id}
              ) as t2
              on t1.crew1_modele_id = t2.produce_proportioning_num
          </when>
          <otherwise>
              SELECT
              t1.*,
              'crew2' AS 'crewNum',
              t2.produce_proportioning_num,
              t2.material_aggregate_1,
              t2.material_aggregate_2,
              t2.material_aggregate_3,
              t2.material_aggregate_4,
              t2.material_aggregate_5,
              t2.material_aggregate_6,
              t2.material_stone_1,
              t2.material_stone_2,
              t2.material_asphalt,
              t2.material_regenerate,
              t2.material_additive,
              t2.temperature_warehouse_1 as tem_warehouse_1,
              t2.temperature_mixture as tem_mixture,
              t2.temperature_duster as tem_duster,
              t2.temperature_asphalt as tem_asphalt ,
              t2.temperature_aggregate as tem_aggregate,
              t2.material_total
              FROM
              quality_proportioning_message AS t1
              INNER JOIN (
              SELECT
              produce_proportioning_num,
              material_aggregate_1,
              material_aggregate_2,
              material_aggregate_3,
              material_aggregate_4,
              material_aggregate_5,
              material_aggregate_6,
              material_stone_1,
              material_stone_2,
              material_asphalt,
              material_regenerate,
              material_additive,
              temperature_warehouse_1,
              temperature_mixture,
              temperature_duster,
              temperature_asphalt,
              temperature_aggregate,
              material_total
              FROM
              quality_monitoring_realtime_data2
              WHERE
              Id = #{id}
              ) as t2
              on t1.crew2_modele_id = t2.produce_proportioning_num
          </otherwise>
      </choose>
    </select>
    <select id="selectmobileGetYesterdayProduct" resultType="java.util.Map">
        (
        SELECT
        QMRD.id,
        'data1' AS crewNums,
        date_format(
        QMRD.produce_date,
        '%Y-%m-%d'
        ) AS produce_date,
        date_format(
        QMRD.produce_time,
        '%H:%i:%s'
        ) AS produce_time,
        QMRD.produce_disc_num,
        QPM.pro_name,
        QMRD.produce_proportioning_num,
        QMRD.produce_car_num,
        QMRD.produce_custom_num,
        QMRD.material_aggregate_6,
        QMRD.material_aggregate_5,
        QMRD.material_aggregate_4,
        QMRD.material_aggregate_3,
        QMRD.material_aggregate_2,
        QMRD.material_aggregate_1,
        QMRD.material_stone_1,
        QMRD.material_stone_2,
        QMRD.material_asphalt,
        QMRD.material_regenerate,
        QMRD.material_additive,
        QMRD.material_total,
        QMRD.temperature_warehouse_1,
        QMRD.temperature_mixture,
        QMRD.temperature_duster,
        QMRD.temperature_asphalt,
        QMRD.temperature_aggregate
        FROM
        quality_monitoring_realtime_data1 AS QMRD
        INNER JOIN quality_proportioning_message AS QPM ON QMRD.produce_proportioning_num = QPM.crew1_modele_id
        WHERE
        TO_DAYS(NOW()) - TO_DAYS(QMRD.produce_date) &lt;= 1
#                 QMRD.produce_date = '2019-09-15'
        )
        UNION ALL
        (
        SELECT
        QMRD.id,
        'data2' AS crewNums,
        date_format(
        QMRD.produce_date,
        '%Y-%m-%d'
        ) AS produce_date,
        date_format(
        QMRD.produce_time,
        '%H:%i:%s'
        ) AS produce_time,
        QMRD.produce_disc_num,
        QPM.pro_name,
        QMRD.produce_proportioning_num,
        QMRD.produce_car_num,
        QMRD.produce_custom_num,
        QMRD.material_aggregate_6,
        QMRD.material_aggregate_5,
        QMRD.material_aggregate_4,
        QMRD.material_aggregate_3,
        QMRD.material_aggregate_2,
        QMRD.material_aggregate_1,
        QMRD.material_stone_1,
        QMRD.material_stone_2,
        QMRD.material_asphalt,
        QMRD.material_regenerate,
        QMRD.material_additive,
        QMRD.material_total,
        QMRD.temperature_warehouse_1,
        QMRD.temperature_mixture,
        QMRD.temperature_duster,
        QMRD.temperature_asphalt,
        QMRD.temperature_aggregate
        FROM
        quality_monitoring_realtime_data2 AS QMRD
        INNER JOIN quality_proportioning_message AS QPM ON QMRD.produce_proportioning_num = QPM.crew2_modele_id
        WHERE
         TO_DAYS(NOW()) - TO_DAYS(QMRD.produce_date) &lt;= 1
 #               QMRD.produce_date = '2019-06-11'
        )
    </select>
    
    <select id="selectWarningMessageById" resultType="java.util.Map">
        <choose>
            <when test="crewNum == 'crew1'.toString()">
                SELECT
                *
                FROM
                quality_monitoring_realtime_data1
                WHERE
                produce_date = #{produceDate}
                AND produce_time = #{produceTime}
            </when>
            <otherwise>
                SELECT
                *
                FROM
                quality_monitoring_realtime_data2
                WHERE
                produce_date = #{produceDate}
                AND produce_time = #{produceTime}
            </otherwise>
        </choose>
    </select>
    <select id="selectMobileWarningDataByDate" resultType="java.util.Map">

        SELECT
               DATE_FORMAT(QWPC.produce_date,'%Y-%m-%d') AS produce_date,
               DATE_FORMAT(QWPC.produce_time,'%H:%i:%s') AS produce_time,
               QWPC.produce_ratio_id,
               QWPC.produce_car_num,
               QWPC.produce_disc_num,
               QWPC.produce_crewNum,
               QWD.*,
               (SELECT QPM1.pro_name FROM quality_warning_promessage_crew AS QWPC1 INNER JOIN quality_proportioning_message AS QPM1 ON QWPC1.produce_ratio_id = QPM1.crew1_modele_id WHERE QWPC1.produce_ratio_id = QWPC.produce_ratio_id  LIMIT 1 ) AS crew1RatioName,
               (SELECT QPM1.pro_name FROM quality_warning_promessage_crew AS QWPC1 INNER JOIN quality_proportioning_message AS QPM1 ON QWPC1.produce_ratio_id = QPM1.crew2_modele_id WHERE QWPC1.produce_ratio_id = QWPC.produce_ratio_id  LIMIT 1 ) AS crew2RatioName
        FROM
             `quality_critical_warning` AS QCW
                 INNER JOIN quality_warning_promessage_crew AS QWPC ON QCW.warning_crew_id = QWPC.id
                 INNER JOIN quality_warning_data AS QWD ON QWPC.id = QWD.crew_id
        WHERE
#                 produce_date >= DATE_SUB(NOW(),INTERVAL 1 DAY)
                QWPC.produce_date = #{startDate}
          AND QWPC.produce_crewNum = #{crew}
    </select>
    <select id="getAllCriticalWarningByDate" resultType="java.util.Map">
        SELECT
               DATE_FORMAT(QWPC.produce_date,'%Y-%m-%d') AS produce_date,
               DATE_FORMAT(QWPC.produce_time,'%H:%i:%s') AS produce_time,
               QWPC.produce_ratio_id,
               QWPC.produce_car_num,
               QWPC.produce_disc_num,
               QWPC.produce_crewNum,
               QWD.*,
               (SELECT QPM1.pro_name FROM quality_warning_promessage_crew AS QWPC1 INNER JOIN quality_proportioning_message AS QPM1 ON QWPC1.produce_ratio_id = QPM1.crew1_modele_id WHERE QWPC1.produce_ratio_id = QWPC.produce_ratio_id  LIMIT 1 ) AS crew1RatioName,
               (SELECT QPM1.pro_name FROM quality_warning_promessage_crew AS QWPC1 INNER JOIN quality_proportioning_message AS QPM1 ON QWPC1.produce_ratio_id = QPM1.crew2_modele_id WHERE QWPC1.produce_ratio_id = QWPC.produce_ratio_id  LIMIT 1 ) AS crew2RatioName
        FROM
             `quality_critical_warning` AS QCW
                 INNER JOIN quality_warning_promessage_crew AS QWPC ON QCW.warning_crew_id = QWPC.id
                 INNER JOIN quality_warning_data AS QWD ON QWPC.id = QWD.crew_id
        WHERE
                QWPC.produce_date between #{startDate} and #{endDate}
        order by QWPC.produce_date
    </select>
</mapper>