<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityDynamicDao">

    <select id="getLastDayToChars" resultType="java.util.Map">
        SELECT
               produce_disc_num,
               material_asphalt,
               material_total,
               produce_proportioning_num
        FROM
             quality_monitoring_realtime_data1
        WHERE
                to_days(NOW()) - TO_DAYS(produce_date) = 2;
    </select>


    <select id="getAggregateRatioByMoudelId" resultType="java.util.Map">

        SELECT
              pro_name,
              ${crew}_modele_id,
               ${ratioName}
        FROM
             quality_proportioning_message
        WHERE
                ${crew}_modele_id in
        <foreach collection="moudelId"  separator="," open="(" close=")" item="item">
            ${item}
        </foreach>

    </select>

    <select id="selectRatioListByDate" resultType="java.util.Map">
        SELECT
               pro_name,
               ${crewNum}_modele_id as modele_id
        FROM
             quality_proportioning_message
        WHERE
                ${crewNum}_modele_id IN
        (SELECT
               produce_proportioning_num
        FROM
             quality_monitoring_realtime_${crew}
        WHERE produce_date
                      BETWEEN  &apos;${startDate}&apos;
                      AND &apos;${endDate}&apos;
        GROUP BY
                 produce_proportioning_num)
    </select>

    <select id="selectProductByMaterialAndDate" resultType="java.util.Map">
        SELECT
                *
                FROM
                quality_monitoring_realtime_${crew}
                WHERE
                produce_date BETWEEN &apos;${startDate}&apos;
                AND &apos;${endDate}&apos;
                AND produce_proportioning_num = ${ratioNum}
    </select>


</mapper>