<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.quality.dao.QualityMatchingDao">
    <select id="selectMatchingMoudelByLimte"  resultType="com.jiaoke.quality.bean.QualityRatioModel">

        SELECT
               QPM.id,
               QPM.message_id AS messageId,
               QPM.model_name AS modelName,
               QPM.create_time AS createTime,
               QPMS.regeneration_type as regenerationType,
               QPM.remaker AS remaker,
               QPM.create_user AS createUser,
               QPMS.crew1_modele_id AS crew1Id,
               QPMS.crew2_modele_id AS crew2Id
        FROM
             quality_proportioning_model AS QPM
                 INNER JOIN quality_proportioning_message AS QPMS ON QPM.message_id = QPMS.id
        WHERE YEAR(QPM.create_time) = YEAR(NOW())
        ORDER BY QPMS.crew1_modele_id
        limit #{startLineNum},#{endLineNum};
    </select>

    <select id="selectRationYear" resultType="java.util.Map">
        SELECT
               YEAR(QPM.create_time) AS `year`
        FROM
             quality_proportioning_model AS QPM
                 INNER JOIN quality_proportioning_message AS QPMS ON QPM.message_id = QPMS.id
        WHERE YEAR(QPM.create_time) != YEAR(NOW())
        GROUP BY YEAR(QPM.create_time)
    </select>
    <select id="selectAllRation" resultType="com.jiaoke.quality.bean.QualityRatioModel">
        SELECT
               QPM.id,
               QPM.message_id AS messageId,
               QPM.model_name AS modelName,
               QPM.create_time AS createTime,
               QPMS.regeneration_type as regenerationType,
               QPM.remaker AS remaker,
               QPM.create_user AS createUser,
               QPMS.crew1_modele_id AS crew1Id,
               QPMS.crew2_modele_id AS crew2Id
        FROM
             quality_proportioning_model AS QPM
                 INNER JOIN quality_proportioning_message AS QPMS ON QPM.message_id = QPMS.id
        where YEAR(QPM.create_time) != YEAR(NOW())
        ORDER BY QPMS.id DESC
    </select>
    <!--start-->
    <select id="selectMatchingMoudelDataCount" resultType="int" >
        SELECT
               COUNT(*)
        FROM
             quality_proportioning_model AS QPM
                 INNER JOIN quality_proportioning_message AS QPMS ON QPM.message_id = QPMS.id
        where  YEAR(QPM.create_time) = YEAR(NOW())
    </select>
    <!--end-->
    
    <!--start-->
    <select id="selectRegenerateTypeList" resultType="java.util.Map">
        select * from quality_proportioning_regenerate;
    </select>
    <!--end-->

    <!--start-->
    <select id="selectAdditiveTypeList" resultType="java.util.Map" >
        select * from quality_proportioning_additive;
    </select>
    <!--end-->

    <!--start-->
    <insert id="insetRatioTemplate"  parameterType="com.jiaoke.quality.bean.QualityRatioTemplate" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        INSERT INTO quality_proportioning_message (
                pro_name,
                repertory_one,
                repertory_two,
                repertory_three,
                repertory_four,
                repertory_five,
                repertory_six,
                repertory_seven,
                repertory_eight,
                repertory_nine,
                repertory_ten,
                breeze,
                breeze_two,
                breeze_three,
                breeze_four,
                ratio_stone,
                ratio_regenerate1,
                ratio_regenerate2,
                ratio_regenerate3,
                regeneration_type,
                ratio_additive,
                ratio_additive_two,
                ratio_additive_three,
                ratio_additive_four,
                temperature_asphalt,
                temperature_asphalt_up,
                temperature_aggregate,
                temperature_aggregate_up,
                temperature_mixture,
                temperature_mixture_up,
                temperature_milling,
                temperature_milling_up,
                crew1_modele_id,
                crew2_modele_id,
                create_time
                )
        VALUES
               (
                       #{proName},
                       #{repertoryOne},
                       #{repertoryTwo},
                       #{repertoryThree},
                       #{repertoryFour},
                       #{repertoryFive},
                       #{repertorySix},
                       #{repertorySeven},
                       #{repertoryEight},
                       #{repertoryNine},
                       #{repertoryTen},
                       #{breeze},
                       #{breezeTwo},
                       #{breezeThree},
                       #{breezeFour},
                       #{ratioStone},
                       #{ratioRegenerate1},
                       #{ratioRegenerate2},
                       #{ratioRegenerate3},
                       #{regenerateType},
                       #{ratioAdditive},
                       #{ratioAdditiveTwo},
                       #{ratioAdditiveThree},
                       #{ratioAdditiveFour},
                       #{temperatureAsphalt},
                       #{temperatureAsphaltUp},
                       #{temperatureAggregate},
                       #{temperatureAggregateUp},
                       #{temperatureMixture},
                       #{temperatureMixtureUp},
                       #{temperatureMilling},
                       #{temperatureMillingUp},
                       #{crew1ModeleId},
                       #{crew2ModeleId},
                       #{creatTime})

    </insert>
    <!--end-->

    <insert id="insetWarningTemplateByRationId" useGeneratedKeys="true" keyProperty="id">
        insert into `quality_warning_dictionary`
                (

                        `ration_id`,
                        `repertoryOne_leve1_up`,
                        `repertoryOne_leve1_down`,
                        `repertoryOne_leve2_up`,
                        `repertoryOne_leve2_down`,
                        `repertoryOne_leve3_up`,
                        `repertoryOne_leve3_down`,
                        `repertoryTwo_leve1_up`,
                        `repertoryTwo_leve1_down`,
                        `repertoryTwo_leve2_up`,
                        `repertoryTwo_leve2_down`,
                        `repertoryTwo_leve3_up`,
                        `repertoryTwo_leve3_down`,
                        `repertoryThree_leve1_up`,
                        `repertoryThree_leve1_down`,
                        `repertoryThree_leve2_up`,
                        `repertoryThree_leve2_down`,
                        `repertoryThree_leve3_up`,
                        `repertoryThree_leve3_down`,
                        `repertoryFour_leve1_up`,
                        `repertoryFour_leve1_down`,
                        `repertoryFour_leve2_up`,
                        `repertoryFour_leve2_down`,
                        `repertoryFour_leve3_up`,
                        `repertoryFour_leve3_down`,
                        `repertoryFive_leve1_up`,
                        `repertoryFive_leve1_down`,
                        `repertoryFive_leve2_up`,
                        `repertoryFive_leve2_down`,
                        `repertoryFive_leve3_up`,
                        `repertoryFive_leve3_down`,
                        `repertorySix_leve1_up`,
                        `repertorySix_leve1_down`,
                        `repertorySix_leve2_up`,
                        `repertorySix_leve2_down`,
                        `repertorySix_leve3_up`,
                        `repertorySix_leve3_down`,
                        `repertorySeven_leve1_up`,
                        `repertorySeven_leve1_down`,
                        `repertorySeven_leve2_up`,
                        `repertorySeven_leve2_down`,
                        `repertorySeven_leve3_up`,
                        `repertorySeven_leve3_down`,
                        `repertoryEight_leve1_up`,
                        `repertoryEight_leve1_down`,
                        `repertoryEight_leve2_up`,
                        `repertoryEight_leve2_down`,
                        `repertoryEight_leve3_up`,
                        `repertoryEight_leve3_down`,
                        `repertoryNine_leve1_up`,
                        `repertoryNine_leve1_down`,
                        `repertoryNine_leve2_up`,
                        `repertoryNine_leve2_down`,
                        `repertoryNine_leve3_up`,
                        `repertoryNine_leve3_down`,
                        `repertoryTen_leve1_up`,
                        `repertoryTen_leve1_down`,
                        `repertoryTen_leve2_up`,
                        `repertoryTen_leve2_down`,
                        `repertoryTen_leve3_up`,
                        `repertoryTen_leve3_down`,
                        `breeze1_leve1_up`,
                        `breeze1_leve1_down`,
                        `breeze1_leve2_up`,
                        `breeze1_leve2_down`,
                        `breeze1_leve3_up`,
                        `breeze1_leve3_down`,
                        `breeze2_leve1_up`,
                        `breeze2_leve1_down`,
                        `breeze2_leve2_up`,
                        `breeze2_leve2_down`,
                        `breeze2_leve3_up`,
                        `breeze2_leve3_down`,
                        `breeze3_leve1_up`,
                        `breeze3_leve1_down`,
                        `breeze3_leve2_up`,
                        `breeze3_leve2_down`,
                        `breeze3_leve3_up`,
                        `breeze3_leve3_down`,
                        `breeze4_leve1_up`,
                        `breeze4_leve1_down`,
                        `breeze4_leve2_up`,
                        `breeze4_leve2_down`,
                        `breeze4_leve3_up`,
                        `breeze4_leve3_down`,
                        `ratioStone_leve1_up`,
                        `ratioStone_leve1_down`,
                        `ratioStone_leve2_up`,
                        `ratioStone_leve2_down`,
                        `ratioStone_leve3_up`,
                        `ratioStone_leve3_down`,
                        `regenerate_leve1_up`,
                        `regenerate_leve1_down`,
                        `regenerate_leve2_up`,
                        `regenerate_leve2_down`,
                        `regenerate_leve3_up`,
                        `regenerate_leve3_down`,
                        `additive_leve1_up`,
                        `additive_leve1_down`,
                        `additive_leve2_up`,
                        `additive_leve2_down`,
                        `additive_leve3_up`,
                        `additive_leve3_down`,
                        `additive1_leve1_up`,
                        `additive1_leve1_down`,
                        `additive1_leve2_up`,
                        `additive1_leve2_down`,
                        `additive1_leve3_up`,
                        `additive1_leve3_down`,
                        `additive2_leve1_up`,
                        `additive2_leve1_down`,
                        `additive2_leve2_up`,
                        `additive2_leve2_down`,
                        `additive2_leve3_up`,
                        `additive2_leve3_down`,
                        `additive3_leve1_up`,
                        `additive3_leve1_down`,
                        `additive3_leve2_up`,
                        `additive3_leve2_down`,
                        `additive3_leve3_up`,
                        `additive3_leve3_down`,
                        `temperatureAsphalt_leve1_up`,
                        `temperatureAsphalt_leve1_down`,
                        `temperatureAsphalt_leve2_up`,
                        `temperatureAsphalt_leve2_down`,
                        `temperatureAsphalt_leve3_up`,
                        `temperatureAsphalt_leve3_down`,
                        `temperatureAggregate_leve1_up`,
                        `temperatureAggregate_leve1_down`,
                        `temperatureAggregate_leve2_up`,
                        `temperatureAggregate_leve2_down`,
                        `temperatureAggregate_leve3_up`,
                        `temperatureAggregate_leve3_down`,
                        `temperatureMixture_leve1_up`,
                        `temperatureMixture_leve1_down`,
                        `temperatureMixture_leve2_up`,
                        `temperatureMixture_leve2_down`,
                        `temperatureMixture_leve3_up`,
                        `temperatureMixture_leve3_down`,
                        `temperatureMilling_leve1_up`,
                        `temperatureMilling_leve1_down`,
                        `temperatureMilling_leve2_up`,
                        `temperatureMilling_leve2_down`,
                        `temperatureMilling_leve3_up`,
                        `temperatureMilling_leve3_down`
                        )
        values(

                      #{id},
                      #{map.repertoryOne_leve1_up},
                      #{map.repertoryOne_leve1_down},
                      #{map.repertoryOne_leve2_up},
                      #{map.repertoryOne_leve2_down},
                      #{map.repertoryOne_leve3_up},
                      #{map.repertoryOne_leve3_down},
                      #{map.repertoryTwo_leve1_up},
                      #{map.repertoryTwo_leve1_down},
                      #{map.repertoryTwo_leve2_up},
                      #{map.repertoryTwo_leve2_down},
                      #{map.repertoryTwo_leve3_up},
                      #{map.repertoryTwo_leve3_down},
                      #{map.repertoryThree_leve1_up},
                      #{map.repertoryThree_leve1_down},
                      #{map.repertoryThree_leve2_up},
                      #{map.repertoryThree_leve2_down},
                      #{map.repertoryThree_leve3_up},
                      #{map.repertoryThree_leve3_down},
                      #{map.repertoryFour_leve1_up},
                      #{map.repertoryFour_leve1_down},
                      #{map.repertoryFour_leve2_up},
                      #{map.repertoryFour_leve2_down},
                      #{map.repertoryFour_leve3_up},
                      #{map.repertoryFour_leve3_down},
                      #{map.repertoryFive_leve1_up},
                      #{map.repertoryFive_leve1_down},
                      #{map.repertoryFive_leve2_up},
                      #{map.repertoryFive_leve2_down},
                      #{map.repertoryFive_leve3_up},
                      #{map.repertoryFive_leve3_down},
                      #{map.repertorySix_leve1_up},
                      #{map.repertorySix_leve1_down},
                      #{map.repertorySix_leve2_up},
                      #{map.repertorySix_leve2_down},
                      #{map.repertorySix_leve3_up},
                      #{map.repertorySix_leve3_down},
                      #{map.repertorySeven_leve1_up},
                      #{map.repertorySeven_leve1_down},
                      #{map.repertorySeven_leve2_up},
                      #{map.repertorySeven_leve2_down},
                      #{map.repertorySeven_leve3_up},
                      #{map.repertorySeven_leve3_down},
                      #{map.repertoryEight_leve1_up},
                      #{map.repertoryEight_leve1_down},
                      #{map.repertoryEight_leve2_up},
                      #{map.repertoryEight_leve2_down},
                      #{map.repertoryEight_leve3_up},
                      #{map.repertoryEight_leve3_down},
                      #{map.repertoryNine_leve1_up},
                      #{map.repertoryNine_leve1_down},
                      #{map.repertoryNine_leve2_up},
                      #{map.repertoryNine_leve2_down},
                      #{map.repertoryNine_leve3_up},
                      #{map.repertoryNine_leve3_down},
                      #{map.repertoryTen_leve1_up},
                      #{map.repertoryTen_leve1_down},
                      #{map.repertoryTen_leve2_up},
                      #{map.repertoryTen_leve2_down},
                      #{map.repertoryTen_leve3_up},
                      #{map.repertoryTen_leve3_down},
                      #{map.breeze1_leve1_up},
                      #{map.breeze1_leve1_down},
                      #{map.breeze1_leve2_up},
                      #{map.breeze1_leve2_down},
                      #{map.breeze1_leve3_up},
                      #{map.breeze1_leve3_down},
                      #{map.breeze2_leve1_up},
                      #{map.breeze2_leve1_down},
                      #{map.breeze2_leve2_up},
                      #{map.breeze2_leve2_down},
                      #{map.breeze2_leve3_up},
                      #{map.breeze2_leve3_down},
                      #{map.breeze3_leve1_up},
                      #{map.breeze3_leve1_down},
                      #{map.breeze3_leve2_up},
                      #{map.breeze3_leve2_down},
                      #{map.breeze3_leve3_up},
                      #{map.breeze3_leve3_down},
                      #{map.breeze4_leve1_up},
                      #{map.breeze4_leve1_down},
                      #{map.breeze4_leve2_up},
                      #{map.breeze4_leve2_down},
                      #{map.breeze4_leve3_up},
                      #{map.breeze4_leve3_down},
                      #{map.ratioStone_leve1_up},
                      #{map.ratioStone_leve1_down},
                      #{map.ratioStone_leve2_up},
                      #{map.ratioStone_leve2_down},
                      #{map.ratioStone_leve3_up},
                      #{map.ratioStone_leve3_down},
                      #{map.regenerate_leve1_up},
                      #{map.regenerate_leve1_down},
                      #{map.regenerate_leve2_up},
                      #{map.regenerate_leve2_down},
                      #{map.regenerate_leve3_up},
                      #{map.regenerate_leve3_down},
                      #{map.additive_leve1_up},
                      #{map.additive_leve1_down},
                      #{map.additive_leve2_up},
                      #{map.additive_leve2_down},
                      #{map.additive_leve3_up},
                      #{map.additive_leve3_down},
                      #{map.additive1_leve1_up},
                      #{map.additive1_leve1_down},
                      #{map.additive1_leve2_up},
                      #{map.additive1_leve2_down},
                      #{map.additive1_leve3_up},
                      #{map.additive1_leve3_down},
                      #{map.additive2_leve1_up},
                      #{map.additive2_leve1_down},
                      #{map.additive2_leve2_up},
                      #{map.additive2_leve2_down},
                      #{map.additive2_leve3_up},
                      #{map.additive2_leve3_down},
                      #{map.additive3_leve1_up},
                      #{map.additive3_leve1_down},
                      #{map.additive3_leve2_up},
                      #{map.additive3_leve2_down},
                      #{map.additive3_leve3_up},
                      #{map.additive3_leve3_down},
                      #{map.temperatureAsphalt_leve1_up},
                      #{map.temperatureAsphalt_leve1_down},
                      #{map.temperatureAsphalt_leve2_up},
                      #{map.temperatureAsphalt_leve2_down},
                      #{map.temperatureAsphalt_leve3_up},
                      #{map.temperatureAsphalt_leve3_down},
                      #{map.temperatureAggregate_leve1_up},
                      #{map.temperatureAggregate_leve1_down},
                      #{map.temperatureAggregate_leve2_up},
                      #{map.temperatureAggregate_leve2_down},
                      #{map.temperatureAggregate_leve3_up},
                      #{map.temperatureAggregate_leve3_down},
                      #{map.temperatureMixture_leve1_up},
                      #{map.temperatureMixture_leve1_down},
                      #{map.temperatureMixture_leve2_up},
                      #{map.temperatureMixture_leve2_down},
                      #{map.temperatureMixture_leve3_up},
                      #{map.temperatureMixture_leve3_down},
                      #{map.temperatureMilling_leve1_up},
                      #{map.temperatureMilling_leve1_down},
                      #{map.temperatureMilling_leve2_up},
                      #{map.temperatureMilling_leve2_down},
                      #{map.temperatureMilling_leve3_up},
                      #{map.temperatureMilling_leve3_down}
                      );
    </insert>

    <!--Start-->

    <insert id="insertRationCreateMessage" parameterType="java.util.Map">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO quality_proportioning_model (
                message_id,
                model_name,
                create_time,
                remaker,
                create_user
                )
        VALUES
               (#{map.messageId},
                       #{map.modelName},
                       #{map.createTime},
                       #{map.remaker},
                       #{map.createUser})
    </insert>

    <delete id="delectRation"  >

        DELETE  t1.*,t2.*,t3.*
        FROM
        quality_proportioning_model AS t1
        INNER JOIN quality_proportioning_message AS t2 ON t1.message_id = t2.id
        left join quality_warning_dictionary AS t3
        ON t2.id = t3.ration_id
        where t1.message_id in
        <foreach collection="idArray" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>

    </delete>

    <select id="selectRationById" resultType="java.util.Map">
        SELECT
               t1.id,
               t1.pro_name AS proName,
               t1.repertory_one AS repertoryOne,
               t1.repertory_two AS repertoryTwo,
               t1.repertory_three AS repertoryThree,
               t1.repertory_four AS repertoryFour,
               t1.repertory_five AS repertoryFive,
               t1.repertory_six AS repertorySix,
               t1.repertory_seven AS repertorySeven,
               t1.repertory_eight AS repertoryEight,
               t1.repertory_nine AS repertoryNine,
               t1.repertory_ten AS repertoryTen,
               t1.breeze AS breeze,
               t1.breeze_two AS breeze2,
               t1.breeze_three AS breeze3,
               t1.breeze_four AS breeze4,
               t1.ratio_stone AS ratioStone,
               t1.ratio_regenerate1 AS ratioRegenerate1,
               t1.ratio_regenerate2 AS ratioRegenerate2,
               t1.ratio_regenerate3 AS ratioRegenerate3,
               t1.regeneration_type AS regenerationType,
               t1.ratio_additive AS ratioAdditive,
               t1.ratio_additive_two AS ratioAdditive1,
               t1.ratio_additive_three AS ratioAdditive2,
               t1.ratio_additive_four AS ratioAdditive3,
               t1.temperature_asphalt AS temperatureAsphalt,
               t1.temperature_asphalt_up AS temperatureAsphaltUp,
               t1.temperature_aggregate AS temperatureAggregate,
               t1.temperature_aggregate_up AS temperatureAggregateUp,
               t1.temperature_mixture AS temperatureMixture,
               t1.temperature_mixture_up AS temperatureMixtureUp,
               t1.temperature_milling AS temperatureMilling,
               t1.temperature_milling_up AS temperatureMillingUp,
               t1.crew1_modele_id AS crew1ModeleId,
               t1.crew2_modele_id AS crew2ModeleId,
               t2.create_user AS upUser,
               t2.remaker AS remark,
               t3.*
        FROM
             quality_proportioning_message AS t1
                 INNER JOIN quality_proportioning_model AS t2 ON t1.id = t2.message_id
                 left join quality_warning_dictionary AS t3
                     ON t1.id = t3.ration_id
        WHERE
                t1.id = #{idStr}
    </select>

    <insert id="insetGrading" parameterType="java.util.Map">
        INSERT INTO quality_proportioning_grading (
                crew1_id,
                crew2_id,
                sieve_diameter_grading,
                repertory_ten_grading,
                repertory_nine_grading,
                repertory_eight_grading,
                repertory_seven_grading,
                repertory_six_grading,
                repertory_five_grading,
                repertory_four_grading,
                repertory_three_grading,
                repertory_two_grading,
                repertory_one_grading,
                breeze1_grading,
                breeze2_grading,
                breeze3_grading,
                breeze4_grading,
                rough_regenerate_grading,
                middle_regenerate_grading,
                thin_regenerate_grading,
                additive1_grading,
                additive2_grading,
                additive3_grading,
                additive4_grading,
                synthesis_grading,
                mid_value,
                up_value,
                down_value,
                model_id
                )
        values
                  <foreach collection ="list" item="list" index= "index" separator =",">
                       (
                        #{list.crew1_id}, #{list.crew2_id},#{list.sieve_pore},#{list.ten_warehouse},#{list.nine_warehouse},#{list.eight_warehouse},#{list.seven_warehouse}, #{list.six_warehouse},
                      #{list.five_warehouse}, #{list.four_warehouse},#{list.three_warehouse}, #{list.two_warehouse},
                      #{list.one_warehouse}, #{list.breeze1_grading},#{list.breeze2_grading},#{list.breeze3_grading},#{list.breeze4_grading},#{list.rough_regenerate},#{list.middle_regenerate}, #{list.thin_regenerate},
                      #{list.additive1_aggregate}, #{list.additive2_aggregate},#{list.additive3_aggregate},#{list.additive4_aggregate},#{list.compound_grading},#{list.mid_value}, #{list.up_value}, #{list.down_value},#{id}
                        )
                  </foreach >
    </insert>

    <update id="updateRatioById" parameterType="java.util.Map" >
        UPDATE quality_proportioning_message  AS QPM
        LEFT JOIN quality_proportioning_model AS QPO
        ON QPM.id = QPO.message_id
        LEFT JOIN quality_warning_dictionary AS QPd
        ON QPM.id =  QPd.ration_id
        SET
            QPO.model_name = #{ratioTemplate.proName},
            QPO.remaker = #{ratioTemplate.remark},
            QPO.create_user = #{ratioTemplate.upUser},
            QPM.pro_name = #{ratioTemplate.proName},
            QPM.repertory_one = #{ratioTemplate.repertoryOne},
            QPM.repertory_two = #{ratioTemplate.repertoryTwo},
            QPM.repertory_three =#{ratioTemplate.repertoryThree},
            QPM.repertory_four = #{ratioTemplate.repertoryFour},
            QPM.repertory_five = #{ratioTemplate.repertoryFive},
            QPM.repertory_six = #{ratioTemplate.repertorySix},
            QPM.repertory_seven =#{ratioTemplate.repertorySeven},
            QPM.repertory_Eight = #{ratioTemplate.repertoryEight},
            QPM.repertory_nine = #{ratioTemplate.repertoryNine},
            QPM.repertory_ten = #{ratioTemplate.repertoryTen},
            QPM.breeze = #{ratioTemplate.breeze},
            QPM.breeze_two = #{ratioTemplate.breeze2},
            QPM.breeze_three = #{ratioTemplate.breeze3},
            QPM.breeze_four = #{ratioTemplate.breeze4},
            QPM.ratio_stone = #{ratioTemplate.ratioStone},
            QPM.ratio_regenerate1 = #{ratioTemplate.ratioRegenerate1},
            QPM.ratio_regenerate2 = #{ratioTemplate.ratioRegenerate2},
            QPM.ratio_regenerate3 = #{ratioTemplate.ratioRegenerate3},
            QPM.regeneration_type = #{ratioTemplate.regenerationType},
            QPM.ratio_additive = #{ratioTemplate.ratioAdditive},
            QPM.ratio_additive_two = #{ratioTemplate.breeze2},
            QPM.ratio_additive_three = #{ratioTemplate.breeze3},
            QPM.ratio_additive_four = #{ratioTemplate.breeze4},
            QPM.temperature_asphalt = #{ratioTemplate.temperatureAsphalt},
            QPM.temperature_asphalt_up = #{ratioTemplate.temperatureAsphaltUp},
            QPM.temperature_aggregate = #{ratioTemplate.temperatureAggregate},
            QPM.temperature_aggregate_up = #{ratioTemplate.temperatureAggregateUp},
            QPM.temperature_mixture = #{ratioTemplate.temperatureMixture},
            QPM.temperature_mixture_up = #{ratioTemplate.temperatureMixtureUp},
            QPM.temperature_milling = #{ratioTemplate.temperatureMilling},
            QPM.temperature_milling_up = #{ratioTemplate.temperatureMillingUp},
            QPM.crew1_modele_id =#{ratioTemplate.crew1ModeleId},
            QPM.crew2_modele_id = #{ratioTemplate.crew2ModeleId},
            QPd.repertoryOne_leve1_up = #{ratioTemplate.repertoryOne_leve1_up},
            QPd.repertoryOne_leve1_down = #{ratioTemplate.repertoryOne_leve1_down},
            QPd.repertoryOne_leve2_up = #{ratioTemplate.repertoryOne_leve2_up},
            QPd.repertoryOne_leve2_down = #{ratioTemplate.repertoryOne_leve2_down},
            QPd.repertoryOne_leve3_up = #{ratioTemplate.repertoryOne_leve3_up},
            QPd.repertoryOne_leve3_down = #{ratioTemplate.repertoryOne_leve3_down},
            QPd.repertoryTwo_leve1_up = #{ratioTemplate.repertoryTwo_leve1_up},
            QPd.repertoryTwo_leve1_down = #{ratioTemplate.repertoryTwo_leve1_down},
            QPd.repertoryTwo_leve2_up = #{ratioTemplate.repertoryTwo_leve2_up},
            QPd.repertoryTwo_leve2_down = #{ratioTemplate.repertoryTwo_leve2_down},
            QPd.repertoryTwo_leve3_up = #{ratioTemplate.repertoryTwo_leve3_up},
            QPd.repertoryTwo_leve3_down = #{ratioTemplate.repertoryTwo_leve3_down},
            QPd.repertoryThree_leve1_up = #{ratioTemplate.repertoryThree_leve1_up},
            QPd.repertoryThree_leve1_down = #{ratioTemplate.repertoryThree_leve1_down},
            QPd.repertoryThree_leve2_up = #{ratioTemplate.repertoryThree_leve2_up},
            QPd.repertoryThree_leve2_down = #{ratioTemplate.repertoryThree_leve2_down},
            QPd.repertoryThree_leve3_up = #{ratioTemplate.repertoryThree_leve3_up},
            QPd.repertoryThree_leve3_down = #{ratioTemplate.repertoryThree_leve3_down},
            QPd.repertoryFour_leve1_up = #{ratioTemplate.repertoryFour_leve1_up},
            QPd.repertoryFour_leve1_down = #{ratioTemplate.repertoryFour_leve1_down},
            QPd.repertoryFour_leve2_up = #{ratioTemplate.repertoryFour_leve2_up},
            QPd.repertoryFour_leve2_down = #{ratioTemplate.repertoryFour_leve2_down},
            QPd.repertoryFour_leve3_up = #{ratioTemplate.repertoryFour_leve3_up},
            QPd.repertoryFour_leve3_down = #{ratioTemplate.repertoryFour_leve3_down},
            QPd.repertoryFive_leve1_up = #{ratioTemplate.repertoryFive_leve1_up},
            QPd.repertoryFive_leve1_down = #{ratioTemplate.repertoryFive_leve1_down},
            QPd.repertoryFive_leve2_up = #{ratioTemplate.repertoryFive_leve2_up},
            QPd.repertoryFive_leve2_down = #{ratioTemplate.repertoryFive_leve2_down},
            QPd.repertoryFive_leve3_up = #{ratioTemplate.repertoryFive_leve3_up},
            QPd.repertoryFive_leve3_down = #{ratioTemplate.repertoryFive_leve3_down},
            QPd.repertorySix_leve1_up = #{ratioTemplate.repertorySix_leve1_up},
            QPd.repertorySix_leve1_down = #{ratioTemplate.repertorySix_leve1_down},
            QPd.repertorySix_leve2_up = #{ratioTemplate.repertorySix_leve2_up},
            QPd.repertorySix_leve2_down = #{ratioTemplate.repertorySix_leve2_down},
            QPd.repertorySix_leve3_up = #{ratioTemplate.repertorySix_leve3_up},
            QPd.repertorySix_leve3_down = #{ratioTemplate.repertorySix_leve3_down},
            QPd.repertorySeven_leve1_up = #{ratioTemplate.repertorySeven_leve1_up},
            QPd.repertorySeven_leve1_down = #{ratioTemplate.repertorySeven_leve1_down},
            QPd.repertorySeven_leve2_up = #{ratioTemplate.repertorySeven_leve2_up},
            QPd.repertorySeven_leve2_down = #{ratioTemplate.repertorySeven_leve2_down},
            QPd.repertorySeven_leve3_up = #{ratioTemplate.repertorySeven_leve3_up},
            QPd.repertorySeven_leve3_down = #{ratioTemplate.repertorySeven_leve3_down},
            QPd.repertoryEight_leve1_up = #{ratioTemplate.repertoryEight_leve1_up},
            QPd.repertoryEight_leve1_down = #{ratioTemplate.repertoryEight_leve1_down},
            QPd.repertoryEight_leve2_up = #{ratioTemplate.repertoryEight_leve2_up},
            QPd.repertoryEight_leve2_down = #{ratioTemplate.repertoryEight_leve2_down},
            QPd.repertoryEight_leve3_up = #{ratioTemplate.repertoryEight_leve3_up},
            QPd.repertoryEight_leve3_down = #{ratioTemplate.repertoryEight_leve3_down},
            QPd.repertoryNine_leve1_up = #{ratioTemplate.repertoryNine_leve1_up},
            QPd.repertoryNine_leve1_down = #{ratioTemplate.repertoryNine_leve1_down},
            QPd.repertoryNine_leve2_up = #{ratioTemplate.repertoryNine_leve2_up},
            QPd.repertoryNine_leve2_down = #{ratioTemplate.repertoryNine_leve2_down},
            QPd.repertoryNine_leve3_up = #{ratioTemplate.repertoryNine_leve3_up},
            QPd.repertoryNine_leve3_down = #{ratioTemplate.repertoryNine_leve3_down},
            QPd.repertoryTen_leve1_up = #{ratioTemplate.repertoryTen_leve1_up},
            QPd.repertoryTen_leve1_down = #{ratioTemplate.repertoryTen_leve1_down},
            QPd.repertoryTen_leve2_up = #{ratioTemplate.repertoryTen_leve2_up},
            QPd.repertoryTen_leve2_down = #{ratioTemplate.repertoryTen_leve2_down},
            QPd.repertoryTen_leve3_up = #{ratioTemplate.repertoryTen_leve3_up},
            QPd.repertoryTen_leve3_down = #{ratioTemplate.repertoryTen_leve3_down},
            QPd.breeze1_leve1_up  = #{ratioTemplate.breeze1_leve1_up},
            QPd.breeze1_leve1_down = #{ratioTemplate.breeze1_leve1_down},
            QPd.breeze1_leve2_up  = #{ratioTemplate.breeze1_leve2_up},
            QPd.breeze1_leve2_down = #{ratioTemplate.breeze1_leve2_down},
            QPd.breeze1_leve3_up  = #{ratioTemplate.breeze1_leve3_up},
            QPd.breeze1_leve3_down = #{ratioTemplate.breeze1_leve3_down},
            QPd.breeze2_leve1_up  = #{ratioTemplate.breeze2_leve1_up},
            QPd.breeze2_leve1_down = #{ratioTemplate.breeze2_leve1_down},
            QPd.breeze2_leve2_up  = #{ratioTemplate.breeze2_leve2_up},
            QPd.breeze2_leve2_down = #{ratioTemplate.breeze2_leve2_down},
            QPd.breeze2_leve3_up  = #{ratioTemplate.breeze2_leve3_up},
            QPd.breeze2_leve3_down = #{ratioTemplate.breeze2_leve3_down},
            QPd.breeze3_leve1_up  = #{ratioTemplate.breeze3_leve1_up},
            QPd.breeze3_leve1_down = #{ratioTemplate.breeze3_leve1_down},
            QPd.breeze3_leve2_up  = #{ratioTemplate.breeze3_leve2_up},
            QPd.breeze3_leve2_down = #{ratioTemplate.breeze3_leve2_down},
            QPd.breeze3_leve3_up  = #{ratioTemplate.breeze3_leve3_up},
            QPd.breeze3_leve3_down = #{ratioTemplate.breeze3_leve3_down},
            QPd.breeze4_leve1_up  = #{ratioTemplate.breeze4_leve1_up},
            QPd.breeze4_leve1_down = #{ratioTemplate.breeze4_leve1_down},
            QPd.breeze4_leve2_up  = #{ratioTemplate.breeze4_leve2_up},
            QPd.breeze4_leve2_down = #{ratioTemplate.breeze4_leve2_down},
            QPd.breeze4_leve3_up  = #{ratioTemplate.breeze4_leve3_up},
            QPd.breeze4_leve3_down = #{ratioTemplate.breeze4_leve3_down},
            QPd.ratioStone_leve1_up = #{ratioTemplate.ratioStone_leve1_up},
            QPd.ratioStone_leve1_down = #{ratioTemplate.ratioStone_leve1_down},
            QPd.ratioStone_leve2_up = #{ratioTemplate.ratioStone_leve2_up},
            QPd.ratioStone_leve2_down = #{ratioTemplate.ratioStone_leve2_down},
            QPd.ratioStone_leve3_up = #{ratioTemplate.ratioStone_leve3_up},
            QPd.ratioStone_leve3_down = #{ratioTemplate.ratioStone_leve3_down},
            QPd.regenerate_leve1_up = #{ratioTemplate.regenerate_leve1_up},
            QPd.regenerate_leve1_down = #{ratioTemplate.regenerate_leve1_down},
            QPd.regenerate_leve2_up = #{ratioTemplate.regenerate_leve2_up},
            QPd.regenerate_leve2_down = #{ratioTemplate.regenerate_leve2_down},
            QPd.regenerate_leve3_up = #{ratioTemplate.regenerate_leve3_up},
            QPd.regenerate_leve3_down = #{ratioTemplate.regenerate_leve3_down},
            QPd.additive_leve1_up = #{ratioTemplate.additive_leve1_up},
            QPd.additive_leve1_down = #{ratioTemplate.additive_leve1_down},
            QPd.additive_leve2_up = #{ratioTemplate.additive_leve2_up},
            QPd.additive_leve2_down = #{ratioTemplate.additive_leve2_down},
            QPd.additive_leve3_up = #{ratioTemplate.additive_leve3_up},
            QPd.additive_leve3_down = #{ratioTemplate.additive_leve3_down},
            QPd.additive1_leve1_up = #{ratioTemplate.additive1_leve1_up},
            QPd.additive1_leve1_down = #{ratioTemplate.additive1_leve1_down},
            QPd.additive1_leve2_up = #{ratioTemplate.additive1_leve2_up},
            QPd.additive1_leve2_down = #{ratioTemplate.additive1_leve2_down},
            QPd.additive1_leve3_up = #{ratioTemplate.additive1_leve3_up},
            QPd.additive1_leve3_down = #{ratioTemplate.additive1_leve3_down},
            QPd.additive2_leve1_up = #{ratioTemplate.additive2_leve1_up},
            QPd.additive2_leve1_down = #{ratioTemplate.additive2_leve1_down},
            QPd.additive2_leve2_up = #{ratioTemplate.additive2_leve2_up},
            QPd.additive2_leve2_down = #{ratioTemplate.additive2_leve2_down},
            QPd.additive2_leve3_up = #{ratioTemplate.additive2_leve3_up},
            QPd.additive2_leve3_down = #{ratioTemplate.additive2_leve3_down},
            QPd.additive3_leve1_up = #{ratioTemplate.additive3_leve1_up},
            QPd.additive3_leve1_down = #{ratioTemplate.additive3_leve1_down},
            QPd.additive3_leve2_up = #{ratioTemplate.additive3_leve2_up},
            QPd.additive3_leve2_down = #{ratioTemplate.additive3_leve2_down},
            QPd.additive3_leve3_up = #{ratioTemplate.additive3_leve3_up},
            QPd.additive3_leve3_down = #{ratioTemplate.additive3_leve3_down},
            QPd.temperatureAsphalt_leve1_up = #{ratioTemplate.temperatureAsphalt_leve1_up},
            QPd.temperatureAsphalt_leve1_down = #{ratioTemplate.temperatureAsphalt_leve1_down},
            QPd.temperatureAsphalt_leve2_up = #{ratioTemplate.temperatureAsphalt_leve2_up},
            QPd.temperatureAsphalt_leve2_down = #{ratioTemplate.temperatureAsphalt_leve2_down},
            QPd.temperatureAsphalt_leve3_up = #{ratioTemplate.temperatureAsphalt_leve3_up},
            QPd.temperatureAsphalt_leve3_down = #{ratioTemplate.temperatureAsphalt_leve3_down},
            QPd.temperatureAggregate_leve1_up = #{ratioTemplate.temperatureAggregate_leve1_up},
            QPd.temperatureAggregate_leve1_down = #{ratioTemplate.temperatureAggregate_leve1_down},
            QPd.temperatureAggregate_leve2_up = #{ratioTemplate.temperatureAggregate_leve2_up},
            QPd.temperatureAggregate_leve2_down = #{ratioTemplate.temperatureAggregate_leve2_down},
            QPd.temperatureAggregate_leve3_up = #{ratioTemplate.temperatureAggregate_leve3_up},
            QPd.temperatureAggregate_leve3_down = #{ratioTemplate.temperatureAggregate_leve3_down},
            QPd.temperatureMixture_leve1_up = #{ratioTemplate.temperatureMixture_leve1_up},
            QPd.temperatureMixture_leve1_down = #{ratioTemplate.temperatureMixture_leve1_down},
            QPd.temperatureMixture_leve2_up = #{ratioTemplate.temperatureMixture_leve2_up},
            QPd.temperatureMixture_leve2_down = #{ratioTemplate.temperatureMixture_leve2_down},
            QPd.temperatureMixture_leve3_up = #{ratioTemplate.temperatureMixture_leve3_up},
            QPd.temperatureMixture_leve3_down = #{ratioTemplate.temperatureMixture_leve3_down},
            QPd.temperatureMilling_leve1_up = #{ratioTemplate.temperatureMilling_leve1_up},
            QPd.temperatureMilling_leve1_down = #{ratioTemplate.temperatureMilling_leve1_down},
            QPd.temperatureMilling_leve2_up = #{ratioTemplate.temperatureMilling_leve2_up},
            QPd.temperatureMilling_leve2_down = #{ratioTemplate.temperatureMilling_leve2_down},
            QPd.temperatureMilling_leve3_up = #{ratioTemplate.temperatureMilling_leve3_up},
            QPd.temperatureMilling_leve3_down = #{ratioTemplate.temperatureMilling_leve3_down}
        WHERE QPM.id = #{ratioTemplate.id}
    </update>

    <insert id="insetGradingModel" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

        INSERT INTO quality_proportioning_grading_model (
                grading_name,
                create_time,
                grading_remaker,
                up_user
                )
        VALUES
               (#{map.gradingName},#{map.date},#{map.gradingRemaker},#{map.upUser})

        <selectKey  resultType="java.lang.Integer"  order="AFTER" keyProperty="map.id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="selectGradingYear" resultType="java.util.Map">
        SELECT
               YEAR(QPM.create_time) AS `year`
        FROM
             quality_proportioning_grading_model AS QPM
                 INNER JOIN quality_proportioning_grading AS QPMS ON QPM.id = QPMS.model_id
        WHERE YEAR(QPM.create_time) != YEAR(NOW())
        GROUP BY YEAR(QPM.create_time)
    </select>
    <select id="selectAllGrading" resultType="java.util.Map">
        SELECT
               QPGM.id,
               QPG.crew1_id AS crew1Id,
               QPG.crew2_id AS crew2Id,
               QPGM.grading_name,
               DATE_FORMAT(QPGM.create_time, '%Y-%m-%d') AS create_time,
               QPGM.grading_remaker,
               QPGM.up_user
        FROM
             quality_proportioning_grading_model AS QPGM
                 INNER JOIN quality_proportioning_grading AS QPG ON QPGM.id = QPG.model_id
        where YEAR(QPGM.create_time) != YEAR(NOW())
        GROUP BY QPGM.id
    </select>
</mapper>