<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.RoleInfoMapper">
    <resultMap id="RoleInfoMap" type="com.jiaoke.oa.bean.RoleInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, description, create_time
    </sql>

    <!--查询全部-->
    <select id="selectAll" resultMap="RoleInfoMap">
        select
            id, `name`, description, create_time
        from role_info
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="RoleInfoMap">
        select
          id, `name`, description
        from role_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.jiaoke.oa.bean.RoleInfo">
        insert into role_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from role_info
        where id = #{id,jdbcType=INTEGER}
  </delete>

    <select id="checkRoleName" parameterType="java.lang.String" resultType="com.jiaoke.oa.bean.RoleInfo">
        SELECT
            *
        FROM
            role_info
        WHERE
            name = #{name,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.jiaoke.oa.bean.RoleInfo">
        update role_info
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="roleNameFilter" parameterType="java.lang.String" resultMap="RoleInfoMap">
        SELECT
           *
        FROM
            role_info
        WHERE
            `name` LIKE "%"#{name}"%"
    </select>

    <select id="selectExistingRoleInfo" parameterType="java.lang.Integer" resultMap="RoleInfoMap">
        SELECT
            ri.id,
            ri.name
        FROM
            `role_info` AS ri
            LEFT JOIN user_role AS ur ON ri.id = ur.role_info_id
            LEFT JOIN user_info AS ui ON ur.user_info_id = ui.id
        WHERE
            ui.id = #{id}
    </select>

    <delete id="batchDeleteRole" parameterType="java.lang.String">
        delete from `role_info` where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>