<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.UserFilesMapper">
    <select id="getUserFilesData" resultType="com.jiaoke.oa.bean.UserFiles">
        SELECT
            uf.id,
            uf.user_id AS userId,
            ui.nickname AS NAME,
            uf.id_card as idCard,
            uf.educatio,
            uf.contract,
            uf.resume,
            uf.entry,
            uf.medical,
            uf.leave,
            uf.update_date AS updateDate
        FROM
            `user_files` AS uf
            LEFT JOIN user_info AS ui ON uf.user_id = ui.id
    </select>
</mapper>