<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.jiaoke.oa.bean.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="usename" jdbcType="VARCHAR" property="usename"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="department_key" jdbcType="VARCHAR" property="departmentKey"/>
        <result column="dept_principal" jdbcType="VARCHAR" property="deptPrincipal"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, usename, `password`, nick_name, phone, sex, email, birthday, register_time, department_key, dept_principal
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jiaoke.oa.bean.UserInfo">
    insert into user_info (id, usename, `password`, 
      nick_name, phone, sex, 
      email, birthday, register_time, 
      department_key, dept_principal)
    values (#{id,jdbcType=INTEGER}, #{usename,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{departmentKey,jdbcType=VARCHAR}, #{deptPrincipal,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jiaoke.oa.bean.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="usename != null">
                usename,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="departmentKey != null">
                department_key,
            </if>
            <if test="departmentKey != null">
                dept_principal,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="usename != null">
                #{usename,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departmentKey != null">
                #{departmentKey,jdbcType=VARCHAR},
            </if>
            <if test="departmentKey != null">
                #{deptPrincipal,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jiaoke.oa.bean.UserInfo">
        update user_info
        <set>
            <if test="usename != null">
                usename = #{usename,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departmentKey != null">
                department_key = #{departmentKey,jdbcType=VARCHAR},
            </if>
            <if test="departmentKey != null">
                dept_principal = #{deptPrincipal,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jiaoke.oa.bean.UserInfo">
    update user_info
    set usename = #{usename,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      department_key = #{departmentKey,jdbcType=VARCHAR},
      dept_principal = #{deptPrincipal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getUserInfoByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where usename = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="getUserByDepartmentKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
          id,
          nick_name,
          department_key
        from user_info
        where department_key = #{departmentKey,jdbcType=VARCHAR}
    </select>

    <select id="getIdByNickName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
          dept_principal
        from user_info
        where nick_name = #{nickName,jdbcType=VARCHAR}
    </select>
</mapper>