<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.oa.dao.UserContractMapper">
    <!--总数-->
    <select id="getContractTotal" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM `user_contract`
    </select>

    <!--合同台账列表-->
    <select id="contractList" resultType="com.jiaoke.oa.bean.UserContract">
        SELECT
            us.id,
            pi.name as name,
            pi.sex as sex,
            pi.joined_date as joinedDate,
            us.contract_term as contractTerm,
            us.contract_sign as contractSign,
            us.contract_stop as contractStop
        FROM
            `user_contract` AS us
        LEFT JOIN `personnel_info` pi ON us.personnel_id = pi.id
    </select>

    <select id="getByPrimaryKey" parameterType="java.lang.Integer" resultType="com.jiaoke.oa.bean.UserContract">
        SELECT
            us.id,
            pi.name AS name,
            pi.sex AS sex,
            pi.joined_date AS joinedDate,
            first_term as firstTerm,
            first_sign as firstSign,
            first_stop as firstStop,
            renew_term as renewTerm,
            renew_sign as renewSign,
            renew_stop as renewStop,
            last_term as lastTerm,
            last_sign as lastSign,
            last_stop as lastStop,
            us.contract_term AS contractTerm,
            us.contract_sign AS contractSign,
            us.contract_stop AS contractStop
        FROM
            `user_contract` AS us
        LEFT JOIN `personnel_info` pi ON us.personnel_id = pi.id
        WHERE
	        us.id = #{id}
    </select>

    <delete id="deleteByRelevanceId" parameterType="java.lang.Integer">
        DELETE
        FROM
            `user_contract`
        WHERE
            personnel_id = #{id}
    </delete>
</mapper>