body {
    margin: 0;
    padding: 0;
}

.twinkle {
    background: #ffffff00;
    animation: flash 0s linear infinite;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.nav-item ul li span {
    font-size: 13px;
}

.backdrop {
    width: 100%;
    height: 100%;
    z-index: 8888;
    background-color: #000000;
    position: absolute;
    opacity: 0.3;
}

.video {
    height: 450px;
    width: 800px;
    border: 1px solid #FF0000;
    position: absolute;
    z-index: 9999;
    top: 10%;
    left: 25%;
}

.popup-window {
    display: none
}

.nav {
    width: 140px
}

.mini {
    border-bottom: 2px #fff solid;
    text-align: center
}

.menu-img {
    padding: 3.5px 13px
}

.nav-item a img {
    margin-top: 5px;
}

.nav-item > a > span {
    margin-left: 10px;
    position: absolute;
    font-size: 13px
}

.right_page {
    float: right;
    position: relative;
    height: 99%;
    width: 90%;
}

.right_page > img {
    width: 100%;
    height: 100%
}

/*西门*/
.west-door {
    position: absolute;
    left: 56%;
    top: 37%;
    font-size: 20px;
    width: 2%;
}

/*南门坐标*/
.south-door {
    position: absolute;
    left: 13%;
    top: 60%;
    font-size: 20px;
    width: 2%;
}

/*办公区线路1*/
.office-area-line1 {
    position: absolute;
    left: 39%;
    top: 73%;
    font-size: 20px;
    width: 2%;
}

/*办公区线路2*/
.office-area-line2 {
    position: absolute;
    left: 40%;
    top: 53%;
    font-size: 20px;
    width: 2%;
}

/*生产区东-线路1*/
.east-production-line1 {
    position: absolute;
    left: 67%;
    top: 52%;
    font-size: 20px;
    width: 2%;
}

/*生产区东-线路2*/
.east-production-line2 {
    position: absolute;
    left: 62%;
    top: 51%;
    font-size: 20px;
    width: 2%;
}

/*生产区西-线路1*/
.west-production-line1 {
    position: absolute;
    left: 35%;
    top: 16%;
    font-size: 20px;
    width: 2%;
}

/*生产区西-线路2*/
.west-production-line2 {
    position: absolute;
    left: 52%;
    top: 24%;
    font-size: 20px;
    width: 2%;
}